%footer
	%section
		.container
			.row
				.col-sm-6
					%p.light-text-color
						%img.margin-right.margin-bottom{:src=>"/images/logo.svg", :width=>"100px"}
						%br
						© 2019 Volley

				.col-sm-2
					%p.body-small.light-text-color
						Company
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"#"}
								About
						%li
							%a.text-color{:href=>"#"}
								How it works
						%li
							%a.text-color{:href=>"#"}
								Pricing
						%li
							%a.text-color{:href=>"#"}
								Terms of use
						%li
							%a.text-color{:href=>"#"}
								Privacy
				.col-sm-2
					%p.body-small.light-text-color
						Connect
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"https://www.facebook.com/meetvolley/"}
								Facebook
						%li
							%a.text-color{:href=>"https://twitter.com/meetvolley"}
								Twitter
						%li
							%a.text-color{:href=>"https://www.youtube.com/channel/UCeUpquAf-1HTU4IOthZjMlw"}
								YouTube
						%li
							%a.text-color{:href=>"https://www.producthunt.com/upcoming/volley-2"}
								Product Hunt
				.col-sm-2
					%p.body-small.light-text-color
						Questions?
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"mailto:hello@meetvolley.com"}
								hello@meetvolley.com