%section#join
	.double-padding-top.double-padding-bottom
		.container
			.row
				.col.text-center
					.jumbotron.volley-jumbotron
						%h2.market.bold-font.no-margin-bottom
							Ready to try Volley?
						%h3.market.double-margin-bottom
							You'll be up and running in seconds.
						%a.btn.btn-secondary.btn-lg{:href=>"/welcome/sign-up"}
							Get started — it's FREE
						