;;;

"title": "About us",
"layout": "public"

;;;

%section.no-padding-bottom
	.container
		.row.justify-content-center
			.col.col-md-8.text-center
				%h1.market.bold-font.double-margin-bottom
					About Us
				%h3.market
					We created Volley as an effective way to provide 
					lightning-fast, collaborative visual feedback on any website. Volley replaces time-consuming and outdated methods of the past. Add our easy-to-use tool to your web design toolbox and watch your process soar! 
		.row
			.col-12.text-center
				%img.margin-top.max-width{:src=>"../images/marketing/help-illustration.svg", :width=>"900px"}


=partial('/market/promo')