;;;

"title": "About us",
"layout": "public"

;;;

%section.no-padding-bottom
	.container
		.row.justify-content-center
			.col.col-md-8.text-center
				%h1.market.bold-font.double-margin-bottom
					About Us
				%h3.market
					=lorem.paragraphs(1)


=partial('/market/promo')