%section
	.container
		.row
			.col-xl-2
			.col-xl-8
				%h2
					Account settings
				%nav.nav.nav-tabs.double-margin-bottom.primary-tabs
					%a.nav-link{:href=>"/settings/"}
						Prifile
					%a.nav-link.active{:href=>"/settings/billing-default"}
						Billing

				.card.margin-bottom
					.card-body
						.row
							.col
								%p.medium-font.no-margin-bottom
									Basic plan
									%span.light-text-color
										14 days left in trial
								%h4.light-text-color.no-margin-bottom
									$20/month
								%ul.list-unstyled.margin-top.icon-list.no-margin-bottom
									%li
										%i.material-icons
											check
										Unlimited projects
									%li
										%i.material-icons
											check
										Unlimited comments
									%li
										%i.material-icons
											check
										1 user
							.col-4
								%p.no-margin-bottom.text-right
									%a.light-text-color{:href=>"#"}
										Cancel plan

				.card.margin-bottom
					.card-body
						.row.align-items-center
							.col
								%p.medium-font.no-margin-bottom
									Payment method
								%h4.light-text-color.no-margin-bottom
									Enter your payment details
							.col
								%p.no-margin-bottom.text-right
									Visa ending in 4444, exp: 09/2020
									%a.margin-left{:href=>"#"}
										Update
				.card
					.card-body
						.row.align-items-center
							.col
								%p.medium-font.no-margin-bottom
									Invoice history
								%h4.light-text-color.no-margin-bottom
									View all invoices on your Volley account.
						.invoice-list.margin-top
							-4.times do
								.row.align-items-center
									.col-sm-3
										%h4.no-margin
											November 27, 2018
									.col
										%h4.light-text-color.no-margin
											.paid
												%i.material-icons
													check
												$20.00
									.col
										%h4.text-right.no-margin
											%a{:href=>"#"}
												View PDF
						.row
							.col
								%h4.margin-top
									%a{:href=>"#"}
										Show full invoice history





