%section
	.container
		.row
			.col-xl-1
			.col-xl-10
				= partial("shared/page_header", :locals => { :title => "Good morning, John!" })
				%nav.nav.double-margin-bottom.primary-tabs
					%a.nav-link{:href=>"/settings/"}
						Prifile
					%a.nav-link{:href=>"/settings/password"}
						Password
					%a.nav-link.active{:href=>"/settings/billing-default"}
						Billing

				.card.margin-bottom
					.card-body
						.row.align-items-center
							.col
								%p.medium-font.no-margin-bottom
									Professional plan
								%h4.light-text-color.no-margin-bottom
									$10/month
								%ul.list-unstyled.margin-top.icon-list.no-margin-bottom
									%li
										%i.material-icons
											check
										Unlimited projects
									%li
										%i.material-icons
											check
										Unlimited comments
									%li
										%i.material-icons
											check
										1 user
							.col-4.text-center
								.float-right
									%a.btn.btn-primary.margin-bottom{:href=>"/billing/trial-expired"}
										Change plan

				.card.margin-bottom
					.card-body
						.row.align-items-center
							.col
								%p.medium-font.no-margin-bottom
									Payment method
								%h4.light-text-color.no-margin-bottom
									Enter your payment details.
							.col
								%p.no-margin-bottom.text-right
									Visa ending in 4444, exp: 09/2020
									%button.btn.btn-link.margin-left{:type=>"button", "data-toggle"=>"modal", "data-target"=>"#changeCardModal"} 
										Update
				.card
					.card-body
						.row.align-items-center
							.col
								%p.medium-font.no-margin-bottom
									Billing history
								%h4.light-text-color.no-margin-bottom
									View billing history for your Volley account.
						.invoice-list.margin-top
							-4.times do
								.row.align-items-center
									.col-sm-3
										%h4.no-margin
											November 27, 2018
									.col
										%h4.light-text-color.no-margin
											$20.00
									.col
										%h4.no-margin
											Pro subscription
									.col
										%h4.text-right.no-margin
											%a{:href=>"#"}
												View PDF
						.row
							.col
								%h4.margin-top
									%a{:href=>"#"}
										Show full invoice history

			.col-xl-1


#changeCardModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%h2.padding-left
					Update billing information
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×

			.modal-body
				.padded.no-padding-top.no-padding-bottom
					%form
						.form-row.margin-bottom
							.form-group.col-12
								%label
									Name on card
								%input.form-control.form-control-lg{:type=>"text"}
						.form-row.margin-bottom
							.form-group.col-6
								%label
									Card number
								%input.form-control.form-control-lg{:type=>"text", :placeholder=>"0000 0000 0000 0000"}
							.form-group.col-3
								%label
									Expire date
								%input.form-control.form-control-lg{:type=>"text", :placeholder=>"10/20"}
							.form-group.col-3
								%label
									CVV
								%input.form-control.form-control-lg{:type=>"text", :placeholder=>"123"}
						.form-row.margin-bottom
							.form-group.col-12
								%img{:src=>"../images/cards.png",:width=>"220px"}

			.modal-footer.no-border-top
				%button.btn.btn-link{:tyle=>"button", "data-dismiss" => "modal"}
					Cancel
				%button.btn.btn-primary{:tyle=>"button", "data-dismiss" => "modal"}
					Save changes
