%section
	.container
		.row.justify-content-center
			.col-xl-10
				= partial("shared/page_header", :locals => { :title => "Good morning, John!" })
				%nav.nav.double-margin-bottom.primary-tabs
					%a.nav-link{:href=>"/settings/"}
						Prifile
					%a.nav-link{:href=>"/settings/password"}
						Password
					%a.nav-link.active{:href=>"/settings/notifications"}
						Notifications
					%a.nav-link{:href=>"/settings/billing-appsumo"}
						Subbscription
					%a.nav-link{:href=>"/settings/appsumo"}
						AppSumo

				.card-checkbox-fix.margin-bottom
					.card-body
						.row.align-items-center
							.col-12
								%p.medium-font
									Send me an email when someone:
								.list-of-options.simple.style-checkbox
									.margin-bottom
										.list-group
											.list-group-inner
												%div
													%input{:id=>"Checkbox0" ,:name => "RadioInputName", :type => "checkbox", :value => "Value1", :checked=>"checked"}
													%label.list-group-item{:for => "Checkbox0"}
														.row.align-items-center.margin-left
															.col
																%h4.quarter-margin-bottom
																	Replies to any note
										.list-group.disabled
											.list-group-inner
												%div
													%input{:id=>"Checkbox1" ,:name => "RadioInputName", :type => "checkbox", :value => "Value1", :disabled=>"disabled", :checked=>"checked"}
													%label.list-group-item{:for => "Checkbox1"}
														.row.align-items-center.margin-left
															.col
																%h4.quarter-margin-bottom
																	Replies to a note I've made
										.list-group.disabled
											.list-group-inner
												%div
													%input{:id=>"Checkbox2" ,:name => "RadioInputName", :type => "checkbox", :value => "Value1", :disabled=>"disabled", :checked=>"checked"}
													%label.list-group-item{:for => "Checkbox2"}
														.row.align-items-center.margin-left
															.col
																%h4.quarter-margin-bottom
																	Replies to a note I've replied to
									.margin-bottom
										.list-group
											.list-group-inner
												%div
													%input{:id=>"Checkbox3" ,:name => "RadioInputName", :type => "checkbox", :value => "Value1"}
													%label.list-group-item{:for => "Checkbox3"}
														.row.align-items-center.margin-left
															.col
																%h4.quarter-margin-bottom
																	Resolves any note
										.list-group
											.list-group-inner
												%div
													%input{:id=>"Checkbox4" ,:name => "RadioInputName", :type => "checkbox", :value => "Value1"}
													%label.list-group-item{:for => "Checkbox4"}
														.row.align-items-center.margin-left
															.col
																%h4.quarter-margin-bottom
																	Resolves a note I've made
										.list-group
											.list-group-inner
												%div
													%input{:id=>"Checkbox5" ,:name => "RadioInputName", :type => "checkbox", :value => "Value1"}
													%label.list-group-item{:for => "Checkbox5"}
														.row.align-items-center.margin-left
															.col
																%h4.quarter-margin-bottom
																	Resolves a note I've replied to
									.margin-bottom
										.list-group
											.list-group-inner
												%div
													%input{:id=>"Checkbox6" ,:name => "RadioInputName", :type => "checkbox", :value => "Value1"}
													%label.list-group-item{:for => "Checkbox6"}
														.row.align-items-center.margin-left
															.col
																%h4.quarter-margin-bottom
																	Creates a note
								%hr
								%button.btn.btn-primary.btn-lg.margin-top{:type=>"submit"}
									Save changes




											




