%section
	.container
		.row
			.col-xl-1
			.col-xl-10
				= partial("shared/page_header", :locals => { :title => "Good morning, John!" })
				%nav.nav.double-margin-bottom.primary-tabs
					%a.nav-link{:href=>"/settings/"}
						Prifile
					%a.nav-link.active{:href=>"/settings/password"}
						Password
					%a.nav-link{:href=>"/settings/billing-default"}
						Billing

				.card
					.card-body
						%form
							.margin-bottom
								%h4.bold-font
									Current password
								%input.form-control.form-control-lg{:type=>"password", :placeholder=>"Enter your current password"}
							.margin-bottom
								%h4.bold-font
									New password
								%input.form-control.form-control-lg{:type=>"password", :placeholder=>"Enter your new password"}
							.double-margin-bottom
								%h4.bold-font
									Confirm new password
								%input.form-control.form-control-lg{:type=>"password", :placeholder=>"Confirm your new password"}
							%button.btn.btn-primary.btn-lg{:type=>"submit"}
								Change
			.col-xl-1

