%section
	.container
		.row
			.col-xl-2
			.col-xl-8
				%h2
					Account settings
				%nav.nav.nav-tabs.double-margin-bottom.primary-tabs
					%a.nav-link{:href=>"/settings/"}
						Prifile
					%a.nav-link.active{:href=>"/settings/password"}
						Password
					%a.nav-link{:href=>"/settings/billing-default"}
						Billing

				.card
					.card-body
						%form
							.margin-bottom
								%h4.bold-font
									Old password
								%input.form-control.form-control-lg{:type=>"password"}
							.margin-bottom
								%h4.bold-font
									New password
								%input.form-control.form-control-lg{:type=>"password"}
							.double-margin-bottom
								%h4.bold-font
									Confirm new password
								%input.form-control.form-control-lg{:type=>"text"}
							%button.btn.btn-primary.btn-lg{:type=>"submit"}
								Change
			.col-xl-2

