%nav.navbar.navbar-light.bg-light.fixed-bottom#bottom-bar.no-padding
  .container-fluid
    .col
      .d-inline-block
        %a.navbar-brand.padding-bottom.padding-top{:href => "/products"}
          .inline-block
            %i.material-icons.light-text-color{:style=>"position:relative; top:3px;"}
              keyboard_arrow_left
      .d-inline-block.product-title
        %p.no-margin-bottom.product-name
          Project title with a really long name
        %h6.product-date.no-margin-bottom
          Created Oct 17, 2019
    .col-5.col-sm-6.align-middle
      .float-right
        .avatars-list.half-margin-right.hidden-sm.d-none.d-md-inline-block
          - 3.times do
            .avatar.avatar-initial.avatar-xs.d-inline-block{"data-toggle"=>"tooltip", "data-placement"=>"top", :title=>"John Doe (you)"}
              JD
          .avatar.avatar-initial.avatar-xs.d-inline-block.primary-bg{"data-toggle"=>"modal", "data-target"=>"#shareModal"}
            +4
        %a.btn.btn-secondary.share-button.d-inline-block.quarter-margin-right{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#exportModal"}
          Export
        %a.btn.btn-primary.share-button.d-inline-block{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#shareModal"}
          Share



#shareModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.no-border-bottom.no-padding-bottom
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .padded.no-padding-top.no-padding-bottom
          %h2.text-center
            Invite prople to this product
          %p.light-text-color.text-center
            Invite others to work in this workspace
          .double-margin-bottom
            .position-relative
              %input.input-lg.form-control.form-control-lg{:type=>"text", :autofocus=>"", :style=>"padding-left:170px; position:relative;"}
                .chip{:style=>"position:absolute; top:7px; left:7px;"}
                  john@doe.com
                  .close
                    %i.material-icons
                      cancel
          .text-center
            %button.btn.btn-primary.btn-lg{:type => "button", "data-dismiss"=>"modal"} 
              Send invite
          .double-margin-top
            %h5.light-text-color.margin-bottom
              Who has access
            .people-list
              -4.times do
                .media.half-margin-top
                  .avatar.avatar-initial.avatar-xs.half-margin-right
                    JD
                  .media-body
                    %h4.bold-font.no-margin-bottom
                      =lorem.name
                    %h5.light-font-name
                      =lorem.email
      .modal-footer.no-border-top

       


#exportModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.no-border-bottom.no-padding-bottom
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .padded.no-padding-top
          %h2.no-margin-bottom
            Export Notes
          .double-margin-top
            %h5.bold-font
              Active
            .card.quarter-margin-bottom
              .card-body
                .row.align-items-center
                  .col-5
                    %img.max-width{:src=>"../images/trello-logo.png", :width=>"100px"}
                  .col
                    .float-right
                      %button.btn.btn-flat.btn-icon{"data-toggle" => "dropdown", :type=>"button"}
                        %i.material-icons
                          more_vert
                      .dropdown-menu.dropdown-menu-right
                        %button.dropdown-item{:type=>"button"} 
                          Disconnect
                      %a.btn.btn-primary{:href=>"/export"}
                        Export
          .double-margin-top
            %h5.bold-font
              Not configured
            .card.quarter-margin-bottom
              .card-body
                .row.align-items-center
                  .col
                    %img{:src=>"../images/asana-logo.png", :width=>"100px"}
                  .col
                    .float-right
                      %a.btn.btn-secondary{:href=>"#"}
                        Configure

          

#exportModalLocked.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.no-border-bottom.no-padding-bottom
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .padded.no-padding-top
          %h2.no-margin-bottom
            Export Notes
          .double-margin-top
            .card.quarter-margin-bottom
              .card-body
                .row.align-items-center
                  .col-5
                    %img.max-width{:src=>"../images/trello-logo.png", :width=>"100px"}
                  .col
                    .float-right
                      %a.btn.btn-link{:href=>"/billing/trial-expired"}
                        Upgrade to use
          .double-margin-top
            .card.quarter-margin-bottom
              .card-body
                .row.align-items-center
                  .col
                    %img{:src=>"../images/asana-logo.png", :width=>"100px"}
                  .col
                    .float-right
                      %a.btn.btn-link{:href=>"/billing/trial-expired"}
                        Upgrade to use

     





              
