%nav.navbar.navbar-light.bg-light.fixed-bottom#bottom-bar.no-padding
  .container-fluid
    .col-xs-2
      %a.navbar-brand.padding-bottom.padding-top{:href => "/products"}
        .inline-block
          %i.material-icons.light-text-color{:style=>"position:relative; top:3px;"}
            keyboard_arrow_left
        %img{:src=>"/images/logo-icon.svg", :width=>"20px", :style=>"position:relative; top:-4px;"}
    .col.text-center
      %a.mode-link.browse{:href=>"/product/browse", "data-toggle"=>"tooltip", :title=>"BROWSE (B)"}
        %svg{ :version => "1.1", :viewbox => "0 0 18 19",  :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %g#Symbols{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
            %g#browse-inactive.icon{:fill => "#C5D0DE", "fill-rule" => "nonzero", :transform => "translate(-13.000000, -4.000000)"}
              %path#cursor{:d => "M18.7016151,18.5803644 C18.8308681,18.7000219 18.9558219,18.8223906 19.2794585,19.1425096 L19.2875456,19.1505085 C19.5943888,19.4539906 19.7477361,19.6021822 19.8657047,19.7065032 C20.2401602,20.0348949 20.409941,20.4730342 20.4696594,20.9870163 C20.4902109,20.98739 20.5149546,20.987838 20.5512919,20.988496 C21.5551383,21.0064771 22.1468904,21.0044513 22.5194119,20.9730821 C22.5542016,20.9381434 22.5956356,20.8920273 22.6408351,20.8368377 C22.7837051,20.6623902 22.9408794,20.4260449 23.05978,20.2153049 C23.6054548,19.2537526 25.0047306,19.1981945 25.5516133,20.2841184 C25.6177656,20.4152694 25.7518097,20.6323053 25.8800512,20.7994013 C25.8929927,20.8162638 25.9057078,20.8324118 25.918128,20.8477862 C25.9185997,20.8368356 25.9191371,20.8259183 25.9197412,20.8150339 C25.9246056,20.727164 25.9260845,20.6792142 25.9286891,20.5538876 C25.9299053,20.4961899 25.9299053,20.4961899 25.9320086,20.4313736 C25.9409238,20.194671 25.9702382,19.9789237 26.0466221,19.6001288 C26.1188525,19.2382173 26.3110326,18.8580601 26.6086887,18.3953778 C26.680254,18.2841353 26.7572354,18.1698246 26.8389091,18.0529721 C26.9901482,17.8365908 27.1506169,17.6210503 27.3109661,17.4150275 C27.384605,17.3204134 27.4463499,17.242926 27.4918587,17.1868143 C27.6920105,16.869871 27.9513441,16.2716073 28.0335863,15.9718828 C28.119307,15.659124 28.208176,14.9126309 28.259366,14.2249042 C28.2888124,13.8153557 28.2995635,13.4896309 28.2995635,12.9582759 C28.299619,12.8571713 28.299619,12.8571713 28.2997839,12.7745249 C28.3000807,12.6418179 28.3000973,12.5966203 28.2997181,12.5399915 C28.2986967,12.3874191 28.2942191,12.228903 28.2788863,11.8112349 C28.269468,11.5612477 28.2653423,11.5561794 28.2453956,11.5529721 C28.1913339,11.5442793 28.1025874,11.5824461 28.1018006,11.5837347 C28.0884467,11.6055762 28.0704914,11.6434066 28.051323,11.6931996 C28.0172417,11.7817314 27.9921405,11.8683646 27.9523068,12.0253559 C27.9152531,12.1713909 27.9116992,12.1845063 27.8815133,12.2611838 C27.8533518,12.3356671 27.8533518,12.3356671 27.7381707,12.5153169 C27.4098568,12.90865 27.4098568,12.90865 26.3449819,12.7096207 C25.9075727,12.0654926 25.9075727,12.0654926 25.9407068,11.9852327 C25.8769892,11.3737678 25.7487295,10.6752093 25.67842,10.5596606 C25.691268,10.5805363 25.5410318,10.4597388 25.6079544,10.4734482 C25.4367412,10.4388312 25.1848608,10.4435818 24.9584952,10.4852691 C25.0098449,10.475701 24.8996779,10.5519676 24.9066633,10.5357456 C24.8993029,10.5524942 24.8607405,10.7406565 24.8302803,11.0338458 C24.821171,11.1215264 24.8133841,11.205981 24.7971912,11.3860341 C24.7696793,11.6865912 24.7502876,11.8473215 24.7153064,12.006443 C24.7298063,12.0915032 24.7298063,12.0915032 24.301922,12.6264813 C23.4578862,12.8524992 23.4578862,12.8524992 22.9798012,12.456872 C22.8199805,12.2220162 22.8199805,12.2220162 22.7882247,12.1228428 C22.7533475,11.9995866 22.7533475,11.9995866 22.7465305,11.9541206 C22.7382254,11.8935889 22.7382254,11.8935889 22.7357116,11.8645422 C22.7317887,11.8149324 22.7317887,11.8149324 22.7286589,11.7668564 C22.7215943,11.657082 22.7171926,11.5935309 22.7104021,11.5106885 C22.68902,11.2498303 22.6588222,11.0070324 22.6159399,10.7858678 C22.5677239,10.5371944 22.5076701,10.3456531 22.4538603,10.2490427 C22.4659436,10.2707798 22.3556275,10.1950224 22.2968246,10.1825 C22.1747859,10.1562236 21.9919084,10.1693143 21.8249224,10.2209895 C21.8682727,10.2075012 21.8070584,10.2870401 21.8009249,10.3223865 C21.7880228,10.3966959 21.7871679,10.6042019 21.8016227,10.9562687 C21.8041119,11.0159729 21.8041119,11.0159729 21.8067238,11.0765211 C21.8264244,11.5322511 21.8302822,11.6871378 21.8179977,11.8838058 L19.8204515,11.8533538 C19.8172658,11.7535097 19.8213311,11.777299 19.5254956,10.1058816 C19.5054648,9.99253069 19.5054648,9.99253069 19.485483,9.87854108 C19.4180078,9.49267219 19.3652739,9.17659115 19.3224471,8.89624721 C19.1867644,8.0091334 19.0428761,7.42743207 18.8405412,6.95670008 C18.8505335,6.97993434 18.7464946,6.73350487 18.7133729,6.65917201 C18.6608817,6.54136959 18.6106004,6.43905162 18.5586285,6.34651047 C18.4461384,6.1462108 18.3420805,6.02515966 18.2918951,5.99872534 C18.2778392,5.99131381 18.1246938,6.01753184 18.1438595,5.99420628 C18.0663892,6.08845728 18.0189671,6.66689942 18.0843135,7.31988365 C18.1164819,7.64667085 18.2455104,8.32944561 18.3574754,8.81247781 C18.403252,9.00629079 18.443887,9.18538539 18.5147326,9.4999439 C18.5266596,9.55231538 18.5266596,9.55231538 18.5385495,9.60408498 C18.5904036,9.82927652 18.6350843,10.0113392 18.687892,10.2091254 C18.6796968,10.1786292 18.792259,10.5945042 18.8176588,10.6920115 C18.8263248,10.725388 18.8263248,10.725388 18.8349917,10.7592479 C18.8835481,10.9496797 18.9299322,11.1503319 19.0002069,11.4750448 C19.0402383,11.6608822 19.07882,11.8569762 19.1163068,12.0634598 C19.2145871,12.6048038 19.2583658,12.9007604 19.3857416,13.8265507 C19.4164226,13.9529951 19.4316853,14.033945 19.4384267,14.132382 C19.4438895,14.2207685 19.4438895,14.2207685 19.4252805,14.392488 C19.3774533,14.6609999 19.3774533,14.6609999 18.9365045,15.0935576 C17.8314564,15.1404011 17.8314564,15.1404011 17.7103828,14.926125 C17.610179,14.8265293 17.2680165,14.3341728 17.3610281,14.4633329 C17.2796759,14.3503515 17.218257,14.2602265 17.1337341,14.1341529 C17.1270858,14.1244031 17.1270858,14.1244031 17.1206598,14.1150368 C17.0779081,14.0528312 17.0419768,14.0040519 16.9887784,13.937367 C17.0150343,13.9702682 16.7426668,13.6233225 16.6639256,13.527242 C16.612106,13.4640112 16.5647599,13.408225 16.5211238,13.3591757 C16.4544074,13.284183 16.399583,13.2287432 16.3625583,13.197287 C15.8955243,12.7994016 15.6572595,12.653032 15.4626132,12.6338953 C15.2649138,12.6141186 15.0530898,12.7782891 15.0281486,12.9517924 C14.9845108,13.254429 14.9819538,13.2290919 15.0845938,13.4333181 C15.1655595,13.5914336 15.3765653,13.8856802 15.7549786,14.3724942 C15.7812617,14.4062889 15.7812617,14.4062889 15.8076778,14.4401959 C16.3864822,15.182878 16.4386388,15.2511264 16.5981659,15.4916992 C16.9817747,16.0713381 17.7516928,17.4398364 17.8784233,17.6315156 L18.7016151,18.5803644 Z M17.8811413,20.5724885 L17.8729933,20.5644293 C17.5371222,20.2322087 17.4275736,20.1253013 17.3079099,20.0157793 L17.2277143,19.933424 L16.3380492,18.907955 L16.2971384,18.8575867 C16.1140314,18.6165736 15.256687,17.0886067 14.9308359,16.5962397 C14.8151491,16.4217803 14.7536772,16.3413426 14.230171,15.6696153 C14.2030885,15.6348529 14.2030885,15.6348529 14.1759287,15.5999311 C13.7112861,15.0021865 13.4654475,14.6593658 13.3010549,14.3382678 C12.9891033,13.7177537 12.9511897,13.3420663 13.0485595,12.6667887 C13.2264496,11.4292945 14.4024441,10.5178606 15.6599865,10.6436589 C16.1060115,10.6875067 16.4622558,10.8154843 16.84462,11.0550358 C16.8051628,10.9081302 16.7524361,10.713352 16.756,10.7266103 C16.6962424,10.5027996 16.6462303,10.2990129 16.5895526,10.0528733 C16.5769483,9.99799266 16.5769483,9.99799266 16.5645086,9.94336959 C16.4927634,9.62490599 16.4544394,9.45599669 16.4100853,9.26816884 C16.2791582,8.70337627 16.1365512,7.94874916 16.0940938,7.51742659 C15.9749882,6.32726877 16.0518762,5.38946593 16.5991958,4.72376786 C17.1991024,3.99461991 18.3918352,3.79042023 19.2243496,4.22939539 C19.6825898,4.47076506 20.018421,4.86143916 20.3024432,5.36716883 C20.3879139,5.51935775 20.4644311,5.67506331 20.5402209,5.84515323 C20.5828475,5.94081731 20.6947306,6.20582687 20.677914,6.1667247 C20.9322975,6.75854765 21.1048512,7.41447598 21.2532567,8.30440203 C21.728068,8.16107057 22.2468211,8.12589981 22.7155546,8.22682622 C23.128912,8.314834 23.5450319,8.54017392 23.855951,8.83772014 C24.0953321,8.67803514 24.3558056,8.56314699 24.5941944,8.51872881 C25.0582522,8.43326391 25.562344,8.42375645 26.0068669,8.51363653 C26.537268,8.62231932 27.1256969,9.09544603 27.3842845,9.51562933 C27.4166176,9.56875554 27.4468085,9.62475326 27.4751472,9.68383246 C27.8201621,9.56012477 28.1973038,9.51954932 28.5629061,9.57833615 C29.5602203,9.73869873 30.2333773,10.5656412 30.2775042,11.7368996 C30.2935703,12.1745304 30.2984799,12.3483407 30.2996733,12.526602 C30.3001081,12.5915381 30.3000887,12.6443318 30.2997796,12.7786917 C30.2996172,12.8600993 30.2996172,12.8600993 30.2995635,12.9582759 C30.2995635,13.5357259 30.2872435,13.9089835 30.2540328,14.3708424 C30.1926254,15.1958892 30.0947914,16.0176882 29.9623734,16.5008255 C29.8228641,17.009255 29.460725,17.8386732 29.1336373,18.3307621 L29.0721442,18.413654 C29.0377267,18.4553644 28.9733405,18.5354066 28.889265,18.64343 C28.7485441,18.8242336 28.6079429,19.0130881 28.4781833,19.1987382 C28.4105304,19.2955308 28.3476999,19.3888287 28.2906861,19.4774521 C28.1221602,19.739412 28.0165877,19.948248 28.0075513,19.993515 C27.9504132,20.2768758 27.9349629,20.3905864 27.9305915,20.506649 C27.929337,20.5450813 27.929337,20.5450813 27.9282573,20.5954442 C27.9252027,20.7424226 27.9231642,20.8085195 27.9166758,20.9257229 C27.9146004,20.9631172 27.9153351,21.0124891 27.9192913,21.0703803 C27.9262608,21.1723674 27.9423451,21.2897911 27.9648678,21.4114545 C27.984616,21.5181302 28.0039232,21.6016649 28.0144918,21.6417096 L28.3034019,22.7363999 L27.1814108,22.8878983 C27.1081671,22.8977881 26.9905038,22.9115981 26.8438965,22.9252379 C26.6486862,22.9433994 26.454589,22.9559874 26.2683862,22.9604475 C26.0042424,22.9667744 25.7717161,22.9568559 25.5626103,22.9220779 C25.0478437,22.8357137 24.6250485,22.4887442 24.2732845,22.0204446 C23.8839943,22.5325445 23.4581709,22.8712155 22.9354786,22.9396457 C22.4374583,23.004855 21.7930579,23.0110596 20.5154732,22.9881753 C20.4005871,22.9860949 20.4005871,22.9860949 20.2862958,22.9839762 C19.831614,22.9755384 19.66008,22.972661 19.4385327,22.9703222 L18.2602242,22.9578833 L18.4641815,21.7972942 C18.4661463,21.7861141 18.4713517,21.7504899 18.4771502,21.6974311 C18.4941509,21.5418688 18.4990352,21.3802985 18.4860832,21.2466254 C18.4779333,21.1625137 18.4711522,21.1437141 18.5434374,21.2070363 C18.3838291,21.0659027 18.217625,20.9052864 17.8811413,20.5724885 Z"}
      %a.mode-link.comment{:href=>"/product", "data-toggle"=>"tooltip", :title=>"COMMENT (C)"}
        %svg{ :version => "1.1", :viewbox => "0 0 24 21",  :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %g#Symbols{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
            %g#comment-inactive.icon{:fill => "#C5D0DE", "fill-rule" => "nonzero", :transform => "translate(-9.000000, -5.000000)"}
              %g#Group-5{:transform => "translate(9.000000, 5.000000)"}
                %path#Path-2{:d => "M2,2 L2,11.9512184 L12.2728192,11.9512184 L12.2728192,15.6854685 L16.2401951,11.9512184 L22,11.9512184 L22,2 L2,2 Z M10.2728192,13.9512184 L0,13.9512184 L0,0 L24,0 L24,13.9512184 L17.033388,13.9512184 L10.2728192,20.3145315 L10.2728192,13.9512184 Z"}
      %a.mode-link.review{:href=>"/product/review", "data-toggle"=>"tooltip", :title=>"REVIEW (V)"}
        %svg{ :version => "1.1", :viewbox => "0 0 22 19",  :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %g#Symbols{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
            %g#notes-inactive.icon{:fill => "#C5D0DE", "fill-rule" => "nonzero", :transform => "translate(-10.000000, -4.000000)"}
              %g#Group{:transform => "translate(11.000000, 5.000000)"}
                %polygon#Path-3{:points => "2.50151763 6.35115777 7.05923262 -0.170260388 8.69855547 0.975436169 2.91142183 9.25597114 -0.249379649 6.69761639 1.00890113 5.14303302"}
                %polygon#Line{:points => "11.0602906 6 11.0602906 4 20.9275002 4 20.9275002 6"}
                %polygon#Line{:points => "11.0602906 16 11.0602906 14 20.9275002 14 20.9275002 16"}
                %path#Rectangle-2{:d => "M1.85,16 L4.95,16 L4.95,12.9 L1.85,12.9 L1.85,16 Z M6.95,10.9 L6.95,18 L-0.15,18 L-0.15,10.9 L6.95,10.9 Z"}
    .col-xs-2
      .float-right
        %a.btn.btn-secondary.share-button{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#shareModal"}
          Share



#shareModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.no-border-bottom.no-padding-bottom
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .padded.no-padding-top.no-padding-bottom
          %h2.text-center
            Invite prople to this product
          %p.light-text-color.text-center
            Invite others to work in this workspace
          .double-margin-bottom
            %input.input-lg.form-control.form-control-lg{:type=>"text", :placeholder=>"Enter emails seporated by commas"}

          .text-center
            %button.btn.btn-primary.btn-lg{:type => "button"} 
              Send invite
      .modal-footer.no-border-top
        .half-padding-bottom.margin-auto
          %p.text-center
            Or share via a 
            %a{:href=>"#", "data-toggle"=>"tooltip", :title=>"Copy to clipboard"}
              public share link
       





     





              
