%nav.navbar.navbar-light.bg-light.fixed-bottom#bottom-bar.no-padding
  .container-fluid
    .col-xs-2
      %a.navbar-brand.padding-bottom.padding-top{:href => "/", :target=>"_blank"}
        %img{:src=>"/images/logo-icon.svg", :width=>"20px", :style=>"position:relative; top:0px;"}
        .inline-block
          %h5.half-margin-left.d-none.d-sm-block
            Powered by Volley



