;;;

"layout": "product"

;;;


:javascript
	$(document).ready(function(){
		$( ".review" ).addClass( "active" );
		$( ".note-thumbnail:nth-child(2)" ).addClass( "active" );
	});

:css
	body{
		padding-top:0!important;
	}


.review-container
	.notes-list-container
		.notes-list-body
			.notes-list-header.padded.half-padding-bottom
				%h4.bold-font
					Notes
			- 4.times do
				.note-thumbnail
					.media
						/ %img.margin-right{:src=>"/images/tmp/product-shot.png", :width=>"42px"}
						.comment-number.comment-number-sm.margin-right
							1
						.media-body
							%h5.bold-font.quarter-margin-bottom
								=lorem.first_name
								,
								=lorem.first_name
							%h5
								=lorem.words(7)
							%h6.light-text-color
								Comment left on 
								%span.bold-font
									Chrome 71 
								on 
								%span.bold-font
									Mac OS 10.14.0
			.note-thumbnail.resolved
				.media
					/ %img.margin-right{:src=>"/images/tmp/product-shot.png", :width=>"42px"}
					.comment-number.comment-number-sm.margin-right
						1
					.media-body
						%h5.bold-font.quarter-margin-bottom
							=lorem.first_name
							,
							=lorem.first_name
						%h5
							=lorem.words(8)
						%h6.light-text-color
							Comment left on 
							%span.bold-font
								Chrome 71 
							on 
							%span.bold-font
								Mac OS 10.14.0


			.notes-list-footer
				.show-resolved.check-btn
					%button.no-margin-bottom.btn-link.btn{:type=>"button"}
						%i.material-icons
							check_box
						Show resolved

	.note-container
		.note-body
			.note-nav.border-bottom
				.container-fluid
					.row
						.col
							.mark-resolved.check-btn
								%button.no-margin-bottom.btn-link.btn{:type=>"button"}
									%i.material-icons
										check_box_outline_blank
									
									Resolved
						.col
							.float-right
								%a.btn.btn-secondary{:href=>"/product/browse"}
									Go to page
			.note-info
				.img-container
					.img-wrapper
						.img-comment-container
							.comment-number{:style=>"position: absolute; right: 40px; top: 22px;"}
								1
							%img{:src=>"/images/tmp/screenshot.png", :width=>"800px"}
				.comments-container
					.comments-wrapper
						.new-comment
							%input.form-control.full-width{:type=>"text", :placeholder=>"Write a reply"}
							%button.btn.btn-link.attachment{:type=>"button", "data-toggle"=>"tooltip", :title=>"Attach a file"}
								%i.material-icons
									attachment
						.comments-list-container
							-8.times do
								.comment
									.media
										.avatar.avatar-initial.avatar-xs.half-margin-right
											JD
										.media-body
											.actions
												.dropdown.show.text-right
													%button.btn.btn-link.btn-action{"data-toggle" => "dropdown", :type=>"button"}
														%i.material-icons
															more_horiz
													.dropdown-menu.dropdown-menu-right
														%button.dropdown-item{:type=>"button"} 
															Edit
														%button.dropdown-item{:type=>"button", :onclick=>"location.href='products/zero';"} 
															Delete
											%h4.bold-font.quarter-margin-bottom
												=lorem.name
											%h4
												=lorem.words(20)
											%a{:href=>"#"}
												%img{:src=>"/images/tmp/shot.png", :width=>"85px"}
											%h5.light-text-color
												2m ago



				


				