;;;

"layout": "product-unauthorized"

;;;




:css
	body{
		padding-top:0!important;
	}


.review-container.unavailable
	.note-container
		.note-body
			.note-nav.border-bottom
				.container-fluid
					.row
						.col-8
							.inline-block.align-middle.show-notes-toggle.menu-button
								%a.btn.btn-secondary{:href=>"#"}
									%i.material-icons
										menu

						.col-4
			.note-info
				.note-zero
					%img.margin-auto.double-margin-bottom{:src=>"../images/logo.svg", :width=>"150px"}
					.note-zero-text
						%h2.text-center
							This project is unavailable
						%p
							Looks like this project is no longer available, or you do not have permission to access it
		
						
				
				


				