;;;

"layout": "product-unauthorized"

;;;




:css
	body{
		padding-top:0!important;
	}


.review-container.unavailable
	.note-container
		.note-body
			.note-info
				.note-zero.text-center
					%a.margin-auto.double-margin-bottom{:href=>"/products"}
						%img{:src=>"../images/logo.svg", :width=>"150px"}
					.note-zero-text
						%h2.text-center
							This project is unavailable
						%p.text-center
							Looks like this project is no longer available, or you do not have permission to access it
		
						
				
				


				