.alert{
	font-size: 14px;
	.alert-link{
		font-weight:600;
		text-decoration: underline;
	}
	&.alert-info{
		background-color: tint($primary-color,90%);
	}
}

.toast-container{
	position: absolute;
	bottom:0px;
	width:100%;
	left:0;
	min-height: 200px;
	.toast-container-inner{
		position: absolute; 
		bottom: 15px; 
		left: 15px; 
		z-index:1031;
		
	}
}

.toast-header{
	background-color:transparent;
	border:none;
	.close{
		color:white;
		text-shadow:none;
	}
}

.toast{
	min-width:200px;
	max-width:280px;
	color:#fff!important;
	background-color:rgba(0,0,0,.8)!important;	
	p{
		margin:0;
		
	}
}