.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:$gray-color;
    color:white;
    text-align:center;
    line-height: 50px;
    font-size:18px;
    &.avatar-xs{
	    width: 30px;
	    height: 30px;
	    font-size:13px;
	    line-height:30px;
    }
    &.avatar-xl{
	    width: 80px;
	    height: 80px;
	    font-size:34px;
	    line-height:80px;
    }
    &.avatar-rounded{
        border-radius: $base-border-radius;
    }
}

.avatars-list{
    .avatar{
        margin-left:-8px;
        border:2px solid white;
        cursor:pointer;
        &:first-of-type{
            margin-left:0;
        }
        &.avatar-xs{
            width: 34px;
            height: 34px;
        }
    }
}