
$product-card-width:448px;

$card-border-radius:$base-border-radius-2;

.card{
	border:1px solid $border-color;
	border-radius: $card-border-radius;
	.card-header{
		background:white;
		border-top-left-radius:$card-border-radius;
  		border-top-right-radius:$card-border-radius;
  		border:none;
  		overflow: hidden;
	}
	.card-list{
	}
	.card-footer{
		border:none;
		background-color: transparent;
		border-bottom-left-radius: $card-border-radius;
		border-bottom-right-radius: $card-border-radius;
		overflow: hidden;
	}
}

.product-card-container{
	max-width: 950px;
	@include breakpoint(md) {
		max-width: 720px;
	}
}

.product-card-wrapper{
	position:relative;
	max-width:$product-card-width;
	margin:0 auto;
	display:block;
	margin-bottom:$baseline*2;
	@include breakpoint(sm) {
  		width:100%;
  		max-width: $product-card-width;
	}
	&:hover{
		
		.card-url{
			color: $text-color!important;
		}
		.product-card{
			border-color:$primary-color;
			box-shadow:0 8px 19px 0 rgba(0,0,0,0.15), 0 0 0 1px $primary-color;
		}
	}
}

.card-actions{
	position:absolute;
	bottom:20px;
	right:20px;
	.menu-button{
		padding:10px!important;
		border:none;
		&:hover{
			background-color:transparent;
			border:none;
		}
	}
	.dropdown-item{
		&:hover{
			cursor: pointer;
		}
	}
}

.product-card{
	box-shadow: 0 8px 19px 0 rgba(0,0,0,0.05);
	box-shadow:0 3px 20px rgba(87,112,237,.13);
	position:relative;
 	border:none;
  	display:block;
  	transition-timing-function: ease-in-out;
  	transition: 0.1s;
  	border:1px solid $border-color;
	.card-header{
		border:none;
		position:relative;
		padding:0px;
		height: 231px;
		@include breakpoint(sm) {
			height: auto;
		}
		
		.thumbnail-wrapper{
			// background-image:url("/images/pattern2.svg"), linear-gradient(#0042FF,#00ADFF);
			background-color:$off-white-darker-color;
			background-size:100%;
			border:none;
			border-bottom:none;
			border-top-left-radius: $card-border-radius;
			border-top-right-radius: $card-border-radius;
			width: 100%;
			height:100%;
			position:relative;
			@include breakpoint(sm) {
				min-height: 171px;
			}
			.thumbnail{
				    position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					height: 80%;
					width: 80%;
					background-size: 100% auto;
					background-position: center top;
					background-repeat: no-repeat;
					box-shadow: 10px 10px 20px rgba(0,0,0,.10);
					border-radius:4px;
			}
			.no-img{
				transition-timing-function: ease-in-out;
  				transition: 0.1s;
				width:90px;
				height:90px;
				background:transparent;
				border:1px solid rgba(255,255,255,.5);
				text-align: center;
				border-radius:100px;
				position:absolute;
				left:0; right:0;
				top:0; bottom:0;
				margin:auto;
				max-width:100%;
				max-height:100%;
				overflow:auto;
				p{
					margin: 0;
					position: relative;
					font-size: 37px;
					top: 31px;
					color:white;
				}
			}
			.overlay{
				transition-timing-function: ease-in-out;
			  	transition: 0.2s;
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:rgba(0,0,0,.70);
				opacity:0;

				.actions{
					position:relative;
					text-align: center;
					margin:0 auto;
					top: calc(50% - 19px);
					.btn{
						padding-left:40px;
						padding-right:40px;
					}
				}
			}
		}
	}
	.card-body{
		z-index: 99;
		background-color: white;
		border-bottom-left-radius: $card-border-radius;
		border-bottom-right-radius: $card-border-radius;
		h3{

		}
		h4{
			
		}
		.card-url{
			color: $text-color;
			font-size: 18px;
			margin-bottom:4px!important;
		}
		.card-text{
			color:$extra-light-text-color;
		}
	}
	&:hover{
		text-decoration:none;
		.card-body{
			.card-url{
				// text-decoration:underline;
				color: $primary-color;
			}
		}
		.no-img{
			border-color:white!important;
		}
		.overlay{
			opacity:1!important;
		}
	}
}

.free-trial-card{
	position:fixed;
	bottom:20px;
	left:20px;
	width:270px;
	border:2px solid $primary-color;
	z-index: 99;
	p{
		margin-bottom:0px;
	}
	a.close{
		position:absolute;
		right:10px;
		top:10px;
	}
	.btn{
		max-width: 130px;
	}
}