.card{
	border-color:$border-color;
	.card-header{
		background:white;
		border-top-left-radius:$base-border-radius;
  		border-top-right-radius:$base-border-radius;
	}
}

a.product-card{
	position:relative;
	transition-timing-function: ease-in-out;
  	transition: 0.3s;
  	display:block;
	.card-header{
		border-color:$border-color;
		position:relative;
		padding:20px;
		img{
			border:1px solid $border-color;
			border-bottom:none;
		}
	}
	.card-body{
		h3{
			color:$text-color;
		}
		h4{
			color:$extra-light-text-color;
		}
	}
	&:hover{
		text-decoration:none;
		.card-body{
			h3{
				text-decoration:underline;
			}
		}
	}
}