.simple-prepend{
  .input-group-prepend, .form-control, .input-group-text {
    border:none;
    background-color:transparent;
  }
  .input-group-text{
    padding-left:0;
    padding-right:0;
    color:$light-gray-color;
  }
}


.form-control{
  border-radius: $base-border-radius;
	&.form-control-lg{
		font-size:16px;
		padding-top:.65rem;
		padding-bottom:.65rem;
	}
	&:focus{
		box-shadow:none;
		border-color:$link-color;
	}
}



.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $light-text-color;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $light-text-color;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: $light-text-color;
}


//chips

.chip {
  display: inline-block;
  padding: 0 16px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  border-radius: 25px;
  background-color: tint($link-color,90%);
  color: $link-color;
  .close{
  	position:relative;
  	left:8px;
  	i{
	  	line-height: 32px;
	  	font-size: 24px;
	  	color: $link-color;
  	}
  }
}

//appends

.input-group{
   .input-group-append{ 
      .input-group-text{
        background-color: white; 
      }
    }
}



//special checkboxes and radios

.custom-radio{

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid $text-color;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $success-color;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

}


