a{
	color:$link-color;
}

.btn{
	border-radius:$base-border-radius;
	font-weight:600;
	font-size:16px;
	&.btn-lg{
		padding: .65rem 2rem;
	}
	//primary buttons
	&.btn-primary{
		background:$link-color;
		border-color:$link-color;
		
		&:hover{
			@include button-hover($link-color);
		}
	}
	&.btn-secondary{
		background:white;
		border-color:$lightest-gray-color;
		color:$text-color;
		&:hover{
			border-color:shade($lightest-gray-color,90%);
		}
	}
	//alert buttons
	&.btn-danger{
		background:$danger-color;
		border-color:$danger-color;
		&:hover{
			@include button-hover($danger-color);
		}
	}
	&.btn-success{
		background:$success-color;
		border-color:$success-color;
		&:hover{
			@include button-hover($success-color);
		}
	}
	&.btn-warning{
		background:$warning-color;
		border-color:$warning-color;
		color:white;
		&:hover{
			@include button-hover($warning-color);
		}
	}
	//flat button
	&.btn-flat{
		background:transparent;
		border-color:white;
		color:$text-color;
		&:hover{
			@include button-hover(white);
		}
	}
	//flat wire
	&.btn-wire{
		background:transparent;
		border-color:white;
		color:white;
		&:hover{
			@include button-hover($link-color);
		}
	}
	//link button
	&.btn-link{
		color:$link-color;
		&:hover{
			color:shade($link-color,10%);
		}
	}
	&.btn-icon{
		line-height:1;
		i{
			color:$lightest-gray-color;
			}
		&:hover, &:focus{
			i{
				color:shade($lightest-gray-color,90%);
			}	
		}
	}
	&:focus{
		outline: none;
		box-shadow: none!important;
	}
}

.close{
	color:$primary-color;
	opacity: .8;
}

//tooltips

.tooltip{
	margin-bottom:4px;
	font-size:12px;
}