.dropup:hover > .dropdown-menu {
    display: block;    
}


.navbar{
		a.nav-link{
			color:$text-color!important;
			transition-duration:$base-transition-duration;
			&:hover{
				color:shade($text-color,90%)!important;
			}
		}
	&.bg-light{
		background-color:white!important;
	}
}



//page header nav

.page-header{
	padding-top:$baseline;
}


// tabs

.primary-tabs{
	a.nav-link{
		font-size: 16px;
		padding:$baseline/2 0px;
		margin: 0 12px;
		border:none;
		color: $gray-color;
		&:first-of-type{
			margin-left: 0;
		}
		&:hover{
			color: $link-color;
		}
		&.active{
			border-bottom:1px solid $link-color;
			color: $link-color;
		}
	}
}


//dropdowns

.mention-menu{
	min-width: 280px;
}



//selection list

.list-of-options{

	.list-group-inner {
	  position: relative;
	}

	.list-group-item {
	  user-select: none;
	  border-width: 1px;
	  margin-bottom: 10px;
	  transition-duration: .1s;
	  border-color:$border-color;
	  width:100%;
	    &:hover{
	    	background-color: tint($link-color, 95%);
	    }
		&.select-all{
			border:none;
			&:hover{
				background:transparent;
			}
		}
	}

	.list-group input[type="checkbox"]:checked + .select-all{
		background:none!important;
	}

	.list-group{
		width:100%;

	}

	.list-group input {
	  &[type="checkbox"] {
	    // position: absolute;
	    // top: calc(50% - 14px);
    	// left: 15px;
	    // z-index: 99;
	    display: none;
	    + .list-group-item {
	      cursor: pointer;
	      &:before {
		    position: absolute;
		    top: calc(50% - 14px);
	    	left: 15px;
		    z-index: 99;
	        font-size: 30px;
	        color:$lightest-gray-color;
	        font-family: "Material Icons";
	       	content: "radio_button_unchecked";
	      }
	    }
	    &:checked + .list-group-item {
	      background-color: tint($link-color, 95%);
	      border-color:$link-color;
	      &:before {
	        color: $primary-color;
	        content: "check_circle";
	      }
	    }
	  }
	  &[type="radio"] {
	  	display: none;
	    + .list-group-item {
	      cursor: pointer;
	      &:before {
		    position: absolute;
		    top: calc(50% - 14px);
	    	left: 15px;
		    z-index: 99;
	        font-size: 30px;
	        color:$lightest-gray-color;
	        font-family: "Material Icons";
	       	content: "radio_button_unchecked";
	      }
	    }
	    &:checked + .list-group-item {
	      background-color: tint($link-color, 95%);
	      border-color:$link-color;
	      &:before {
	        color: $primary-color;
	        content: "check_circle";
	      }
	    }
	  }
	}


}