// typography baselines and @font face setups


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

//text transforms

.text-uppercase{
  text-transform:uppercase;
}

//text colors

.extra-light-text-color{
  color:$extra-light-text-color!important;
}

.light-text-color{
  color:$light-text-color!important;
}

.text-color{
  color:$text-color!important;
}

.dark-text-color{
  color:$dark-text-color!important;
}



//alerts

.text-success{
  color:$success-color;
}

.text-warning{
  color:$warning-color;
}

.text-danger{
  color:$danger-color;
}

//links

.link-color{
  color:$link-color;
}




//font families



.regular-font{
    
}

.medium-font{
    font-weight:600;
}

.bold-font{
    font-weight:700;
}

.extra-bold-font{
    font-weight:900;
}

.light-font-name{
  font-weight:300;
}




//font color

.primary-text-color{
  color:$primary-color!important;
}

.secondary-text-color{
  color:$secondary-color!important;
}



//font size

.micro-text{
  font-size:0.7rem;
}


//font base

h1{
  font-size:30px;
  line-height:38px;
}

h2{
  font-size:24px;
  line-height:31px;
}

h3{
  font-size:17px;
  line-height:22px;
}

h4{
  font-size:14px;
  line-height:18px;
}

h5{
  font-size:13px;
  line-height:15px;
}

h6{
  font-size:10px;
  line-height:12px;
}


//lists


ul.icon-list{
  li{
    font-size: 14px;
    line-height: 20px;
    i{
      font-size: 14px;
      position:relative;
      top:3px;
      margin-right: 5px;
    }
  }
}


//truncate




//mobile

  @include breakpoint(md) {


  }


  @include breakpoint(sm) {


  }
