%section
	.container.product-card-container
		.row
			.col
				%h2
					Buttons
		.row
			.col
				%a.btn.btn-primary{:href=>"#"}
					Primary button
				%a.btn.btn-secondary{:href=>"#"}
					Secondary button
				%a.btn.btn-terciary{:href=>"#"}
					Terciary button
				%a.btn.btn-label{:href=>"#"}
					Label button
				%a.btn.btn-flat{:href=>"#"}
					Flat button
				%span.d-block{:style=>"padding:10px; background:black;"}
					%a.btn.btn-wire{:href=>"#"}
						Wire button
				%a.btn.btn-link{:href=>"#"}
					Link button