<!doctype html>
%html
  %head
    = partial "shared/scripts"
    %body.market{:class => page_classes, :style=>"padding:0;"}
      = partial "layouts/marketing/header"
      /end menu
      .main
        = yield
      /end main content
      
