body.market{
	background:url("../images/marketing/bg.svg") no-repeat top right;
	@include breakpoint(md) {
		background: none;
	}
}

.market section{
	padding:$baseline*4 0;
	&#main-hero{
		@include breakpoint(sm) {
			padding-top:0;
		}
	}
}

#primary-header{
	width:100%;
	padding:20px 0;
	.btn-link{
		color:white;
		padding-left:0px;
		padding-right:15px;
		@include breakpoint(md) {
			color:$link-color;
		}
	}
	.btn-secondary{
		padding-left:12px;
		padding-right:12px;
	}

}

.text-container{
	position: relative;
	.accent-text{
		position:absolute;
		top:0;
		left:-30px;
		font-weight: 900;
		font-size: 76px;
		opacity: 0.08;
		color: #0042FF;
	}
}

p{
	&.market{
		font-size: 21px;
		line-height:27px;
	}
}

h1{
	&.market{
		font-size: 93px;
		line-height:113px;
	}	
}

h2{
	&.market{
		font-size: 61px;
		line-height:59px;
		@include breakpoint(sm) {
			font-size: 55px;
		}
	}
}

h3{
	&.market{
		font-size: 45px;
		line-height:59px;
	}
}

