.welcome-container{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: $link-color url("/images/marketing/pattern.svg");

	.form-container{
		padding:0 $baseline*4;
		position: absolute;
		top:0;
		left:0;
		width: 50%;
		max-width: 600px;
		height:100%;
		background: white;
		@include breakpoint(sm) {
			width:100%;
			max-width: 100%;
			padding:0 $baseline*3;
		}
		.form-header{
			position:relative;
			.close{
				position: absolute;	
				right:-$baseline*2;
				top:$baseline;
				z-index: 99;		
			}
		}
		.form-content-wrapper{
			position:relative;
			display: flex;
			height:100%;
			width:100%;
		}
		.form-content{
			position:relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width:100%;
		}
	}
}