.strikethrough{
	display: inline;
	&:before{
		position: absolute;
		content: "";
		left: 13px;
		top: 34px;
		right: -17px;
		border-top: 4px solid;
		border-color: #FF4E4A;
		transform: rotate(-49deg);
		z-index: 99;
	}
}

.card{
	&.price-card{
		min-height: 500px;
		@include breakpoint(sm) {
			min-height: auto;
		}
		.card-header{
			position:relative;
			min-height: 170px;
			.card-promo{
				h5{
					font-size: 15px;
					margin-bottom:4px;
					line-height: 1;
				}
				h2{
					font-size: 30px;
					line-height: 1;
				}
				.small-text{
					font-size:.9rem;
				}
				background:$danger-color;
				padding:8px 8px;
				border-radius:7px;
				position:absolute;
				top: 54px;
    			left: 109px;
				color:white;
				transform: rotate(-2deg);
			}
		}
		h1{
			position:relative;
			.price{
				font-size: 20px;
				position: absolute;
				top:15px;
			}
			.dollar-ammount{
				position:relative;
				left:15px;
			}
			.month{
				font-size: 18px;
				position:relative;
				left:8px;
				font-weight: 500;
			}
		}
	}
}