.strikethrough{
	display: inline;
	&:before{
		position: absolute;
		content: "";
		left: 13px;
		top: 34px;
		right: -17px;
		border-top: 4px solid;
		border-color: shade($link-color,30%);
		z-index: 99;
	}
}

.card{
	&.price-card{
		min-height: 495px;
		max-width:350px;
		overflow: hidden;
		position:relative;
		border-radius:8px;
		// border:2px solid $border-color;
		box-shadow:0 8px 16px rgba(81,107,152,.24);

		@include breakpoint(sm) {
			min-height: auto;
		}
		&.popular{
			border:2px solid $primary-color;
			&:before{
			content: "popular";
			position: absolute;
			top: 13px;
    		right: -123px;
			width: 300px;
			height: 27px;
			transform: rotate(45deg);
			font-size: 14px;
			font-weight: 900;
			color: white;
			background: $link-color;
			text-align: center;
			display: block;
			z-index: 99;
			}
		}
		.card-header{
			position:relative;
			// min-height: 170px;
			border-radius:0;
			border-bottom:1px solid $border-color;
			border-top:10px solid $border-color;
			.card-promo{
				color: shade($link-color,30%);
			}
			&.pro-header{
				border-top-color:#FFAA00;
			}
			&.team-header{
				border-top-color:#FF4E4A;
			}
		}
		.card-body{
			min-height: 240px;
		}
		.card-header, .card-body, .card-footer{
			padding:30px;
		}

		h1{
			position:relative;
			font-weight: 700;
			.price{
				font-size: 30px;
			}
			.dollar-ammount{
				position:relative;
				font-size: 55px;
			}
			.month{
				font-size: 16px;
				position:relative;
				right:8px;
				font-weight: 500;
			}
		}
	}
}