.invoice-list{
	.row{
		padding:$baseline 0;
		border-bottom:1px solid $border-color;
		i{
			font-size: 12px;
		}
		.paid{
			i{
				color: $success-color;
			}
		}
		.unpaid{
			i{
				color: $danger-color;
			}
		}

	}
}