%nav.navbar.navbar-light.bg-light.fixed-top.navbar-expand-sm.border-bottom
	.container-fluid
		.navbar-nav.mr-auto
		%div
			.navbar-nav
				.nav-item
					%a.nav-link.primary-text-color{:href => "/product/review"}
						%i.material-icons
							close