;;;

"layout": "welcome"

;;;

%section
	.container
		.row.justify-content-center
			.col-lg-10.col-xl-8
				.header.text-center.double-margin-bottom
					%img.double-margin-bottom{:src=>"/images/volley-appsumo.svg",  :width=>"320px"}
					%h2.bold-font
						Get started with your LIFETIME account!
					%p
						Here you can register your new Volley account and apply your AppSumo codes. Once registered you can apply more codes (up to 5 total) to adjust account limits.
				.row
					.col-md-6.order-md-2
						.panel.half-margin-top.margin-bottom
							.panel-body.lifetime-redeem-panel
								.margin-bottom
									%h4.bold-font
										Stack your codes
									%h4
										Apply your AppSumo codes here:
									%form.form-inline.no-margin-bottom
										.form-group.half-margin-right.no-margin-bottom
											%input.form-control{:placeholder=>"AppSumo Code",}
										.form-group.no-margin-bottom
											%button.btn.btn-primary{:type=>"button", :style=>"padding: 8px 10px;"}
												Verify code
								.margin-bottom
									%h4.bold-font
										Your applied codes:
									%h4
										• CODEONE
									%h4
										• CODETWO
								.margin-bottom
									%h4.bold-font
										Your lifetime plan:
									%h4
										AppSumo 2 code plan

					.col-md-6.order-md-1
						.form-container
							.form-content-wrapper
								.form-content
									%form
										.margin-bottom
											%h4.bold-font
												Name
											%input.form-control.form-control-lg{:type=>"text", :placeholder=>"John Doe"}
										.margin-bottom
											%h4.bold-font
												Email
											%input.form-control.form-control-lg{:type=>"text", :placeholder=>"john@doe.com"}
										.margin-bottom
											%h4.bold-font
												Password
											%input.form-control.form-control-lg{:type=>"text", :placeholder=>"Min 6 chars."}
										.double-margin-top
											%a.btn.btn-primary.btn-lg.btn-block{:href=>"/products/zero"}
												Create my LIFETIME account
										%h5.light-text-color.text-center.margin-top
											I agree to the
											%a.light-text-color{:href=>"/welcome/login"}
												%u
													Terms and privacy