;;;

"layout": "welcome"

;;;

:javascript
	function showAlert() {
		$(".alert").toggleClass("d-none");
	}

.welcome-container
	.form-container
		.form-header
		.form-content-wrapper
			.form-content
				%img.double-margin-bottom{:src=>"/images/logo.svg",  :width=>"120px"}
				%h2
					Forgot your password?
				%p.light-text-color
					Enter your email address to reset your password. You may need to check your spam folder or unblock no-reply@meetvolley.com.
				.alert.alert-success.d-none
					If you have an account with this email, we'll email you a reset link.
				%form
					.margin-bottom
						%h4.bold-font
							Email
						%input.form-control.form-control-lg{:type=>"text", :placeholder=>"John@doe.com"}
					.double-margin-top
						%a.btn.btn-primary.btn-lg.btn-block{:onclick=>"showAlert()", :href=>"#"}
							Submit
						%a.btn.btn-block.btn-link{:href=>"/welcome/login"}
							Back
	