;;;

"layout": "welcome"

;;;


.welcome-container
	.form-container
		.form-header
		.form-content-wrapper
			.form-content
				%img.double-margin-bottom{:src=>"/images/logo.svg",  :width=>"120px"}
				%h2
					Forgot your password?
				%p.light-text-color
					Enter a new password for your 
					%span.bold-font
						alauderdale@mac.com 
					account.
				.alert.alert-success.d-none
					If you have an account with this email, we'll email you a reset link.
				%form
					.margin-bottom
						%h4.bold-font
							New password
						%input.form-control.form-control-lg{:type=>"password"}
					.margin-bottom
						%h4.bold-font
							Confirm password
						%input.form-control.form-control-lg{:type=>"password"}

					.double-margin-top
						%a.btn.btn-primary.btn-lg.btn-block{ :href=>"/products/zero"}
							Submit
	