%section
	.container
		.row
			.col-12
				.page-header
					.row
						.col-md-12
							%form
								.form-row
									.col-lg-10.col-md-9.mb-3
										%input.form-control.form-control-lg{:placeholder => "Enter a website URL"}
									.col-lg-2.col-md-3.mb-3
										%button.btn.btn-primary.mb-2.btn-block.btn-lg{:type=>"button", :onclick=>"location.href='/products';"}
											Create Product

