.free-trial-card.card.alert
	%p.bold-font
		13 days left on your trial
	%p.half-margin-bottom
		Ready to simplify your feedback process?
	%a.btn.btn-primary{:href=>"/billing/trial-expired"}
		Subscribe
	%a.close.cursor-pointer{"data-dismiss"=>"alert"}
		%i.material-icons
			close