.free-trial-card.card.alert
	%p.bold-font
		Early subscriber discount
	%p.half-margin-bottom
		%span.medium-font
			Save 60% 
		on unlimited for limited time.
	%a.btn.btn-primary.btn-block{:href=>"/billing/pay"}
		Upgrade
	%a.close.cursor-pointer{"data-dismiss"=>"alert"}
		%i.material-icons
			close