.free-trial-card.card.alert
	%p.bold-font
		Claim your Early Bird Discount
	%p.half-margin-bottom
		%span.medium-font
			Save 60% 
		on Volley Unlimited.
	%a.btn.btn-primary.btn-block{:href=>"/billing/pay"}
		Upgrade
	%a.close.cursor-pointer{"data-dismiss"=>"alert"}
		%i.material-icons
			close