;;;

"title": "Archived"

;;;


= partial "add-new"

%section
	.container.product-card-container
		.row
			.col-lg-12
				.card
					.padded.double-padding-top.double-padding-bottom
						.double-padding-top.double-padding-bottom
							.text-center
								%img.marign-bottom.double-margin-bottom{:src=>"../images/products-zero.svg", :width=>"204"}
								%h2
									No projects in your archive yet
								%p.light-text-color.no-margin-bottom
									Once you archive a project, it will appear here.








					
