=partial "add-new"

%section.no-padding-top
	.container
		.row
			-1.times do
				.col-sm-6.col-md-6.col-lg-4
					%a.card.margin-bottom.product-card{:href=>"/product/browse"}
						.card-header.no-padding-bottom
							%img.card-img-top{:alt => "Card image cap", :src => "/images/tmp/ceb-shot.png"}
						.card-body
							.row
								.col-8
									%h3.card-title.no-margin-bottom
										www.cebroker.com
									%h4.card-text
										Created Oct 17, 2019
								.col-4
									.dropdown.show.text-right
										%button.btn.btn-flat.btn-icon.no-padding{"data-toggle" => "dropdown", :type=>"button"}
											%i.material-icons
												more_horiz
										.dropdown-menu.dropdown-menu-right
											%button.dropdown-item{:type=>"button"} 
												Edit
											%button.dropdown-item{:type=>"button", :onclick=>"location.href='products/zero';"} 
												Delete
											







					
