;;;

"title": "All projects"

;;;



/ = partial "free-trial-card"

= partial "add-new"
%section.padding-top.no-padding-bottom
	.container.product-card-container
		.row
			.col-6
				.input-group.simple-prepend
					.input-group-prepend
					.input-group-text 
						.material-icons
							search
					%input#inlineFormInputGroup.form-control{:placeholder => "Search...", :type => "text"}
			.col-6
				.inline-block.align-middle.float-right{:style=>"line-height:36px;"}
					.inline-block.align-middle
						%h4.no-margin.medium-font.align-middle
							Sort by
							%span.link-color.activity-filter{ "data-toggle"=>"dropdown"}
								Latest activity 
								%span.material-icons.align-middle.dropdown
									expand_more
									
								.dropdown-menu
									%a.dropdown-item{:href=>"#"}
										Latest activity  
									%a.dropdown-item{:href=>"#"}
										Newest projects  
									%a.dropdown-item{:href=>"#"}
										A-z
									%a.dropdown-item{:href=>"#"}
										Z-A 

%section
	.container.product-card-container
		.row
			-1.times do
				.col-sm-12.col-md-12.col-lg-6
					.product-card-wrapper
						%a.card.product-card{:href=>"/product/review"}
							.card-header.no-padding-bottom
								.img-wrapper
									%img.card-img-top{:alt => "Card image cap", :src => "/images/tmp/ceb-shot.png"}
							.card-body
								.row
									.col-8
										/ %h3.no-margin-bottom.card-title.medium-font
										/ 	Project title
										%h3.card-url.no-margin-bottom
											Bootstrap
										%h4.card-text
											Created Oct 17, 2019
											%span.text-danger.quarter-margin-left.new-items
												%i.material-icons
													fiber_manual_record
												3 new
									.col-4
						.card-actions
							.dropdown.show.text-right
								%button.btn.btn-flat.btn-icon.no-padding.menu-button{"data-toggle" => "dropdown", :type=>"button"}
									%i.material-icons
										more_horiz
								.dropdown-menu.dropdown-menu-right
									%button.dropdown-item{:type=>"button", "data-toggle"=>"modal", "data-target"=>"#editModal"} 
										Edit
									%button.dropdown-item{:type=>"button"} 
										Share
									%button.dropdown-item{:type=>"button", "data-toggle"=>"modal", "data-target"=>"#archiveModal"} 
										Archive
									.dropdown-divider
									%button.dropdown-item{:type=>"button", :onclick=>"location.href='products/zero';"} 
										Delete
			-1.times do
				.col-sm-12.col-md-12.col-lg-6
					.product-card-wrapper
						%a.card.product-card{:href=>"/product/review-zero"}
							.card-header
								.img-wrapper
									.no-img
										%p
											A
							.card-body
								.row
									.col-8
										/ %h3.no-margin-bottom.card-title.medium-font
										/ 	Project title
										%h3.card-url.no-margin-bottom
											Empty project
										%h4.card-text
											Created Oct 17, 2019
									.col-4
						.card-actions
							.dropdown.show.text-right
								%button.btn.btn-flat.btn-icon.no-padding.menu-button{"data-toggle" => "dropdown", :type=>"button"}
									%i.material-icons
										more_horiz
								.dropdown-menu.dropdown-menu-right
									%button.dropdown-item{:type=>"button", "data-toggle"=>"modal", "data-target"=>"#editModal"} 
										Edit
									%button.dropdown-item{:type=>"button"} 
										Share
									%button.dropdown-item{:type=>"button", "data-toggle"=>"modal", "data-target"=>"#archiveModal"} 
										Archive
									.dropdown-divider
									%button.dropdown-item{:type=>"button", :onclick=>"location.href='products/zero';"} 
										Delete
			-1.times do
				.col-sm-12.col-md-12.col-lg-6
					.product-card-wrapper.margin-bottom
						%a.card.product-card{:href=>"/product/unavailable"}
							.card-header.no-padding-bottom
								.img-wrapper
									.no-img
										%p
											A
							.card-body
								.row
									.col-8
										/ %h3.no-margin-bottom.card-title.medium-font
										/ 	Project title
										%h3.card-url.no-margin-bottom
											Unavailable project
										%h4.card-text
											Created Oct 17, 2019
									.col-4
						.card-actions
							.dropdown.show.text-right
								%button.btn.btn-flat.btn-icon.no-padding.menu-button{"data-toggle" => "dropdown", :type=>"button"}
									%i.material-icons
										more_horiz
								.dropdown-menu.dropdown-menu-right
									%button.dropdown-item{:type=>"button", "data-toggle"=>"modal", "data-target"=>"#editModal"} 
										Edit
									%button.dropdown-item{:type=>"button"} 
										Share
									%button.dropdown-item{:type=>"button", "data-toggle"=>"modal", "data-target"=>"#archiveModal"} 
										Archive
									.dropdown-divider
									%button.dropdown-item{:type=>"button", :onclick=>"location.href='products/zero';"} 
										Delete
			
											



#editModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%h2.padding-left
					Edit this project
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×

			.modal-body
				.padded.no-padding-top.no-padding-bottom
					%label
						Title
					%form
						.margin-bottom
							%input.form-control.form-control-lg{:type=>"text", :value=>"Project title"}

			.modal-footer.no-border-top
				%button.btn.btn-link{:tyle=>"button", "data-dismiss" => "modal"}
					Cancel
				%button.btn.btn-primary{:tyle=>"button", "data-dismiss" => "modal"}
					Save




#archiveModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%h2.padding-left
					Confirm archive project
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×

			.modal-body
				.padded.no-padding-top.no-padding-bottom
					%p
						Are you sure you want to continue? No one will be able to view notes in this project.
			.modal-footer.no-border-top
				%button.btn.btn-link{:tyle=>"button", "data-dismiss" => "modal"}
					Cancel, don't archive
				%button.btn.btn-primary{:tyle=>"button", "data-dismiss" => "modal"}
					Yes, archive

					
