;;;

"title": "Team"

;;;



/ = partial "free-trial-card"



%section
	.container
		.row.justify-content-center
			.col-xl-10
				= partial("shared/page_header_with_action", :locals => { :title => "Members" })
		.row.justify-content-center
			.col-xl-10
				.list-default.margin-top
					.row.align-items-center
						.col-sm-6
							.media.align-items-center
								.avatar.avatar-xs.mr-3
									AL
								.media-body
									%h4.no-margin.medium-font
										=lorem.name
									%h5.no-margin
										=lorem.email
						.col
							%h4.no-margin.medium-font
								Owner
						.col
							.justify-content-end.d-flex
								.dropdown
									%button.btn.btn-flat.btn-icon.menu-button{"data-toggle" => "dropdown", :type=>"button"}
										%i.material-icons
											more_horiz
									.dropdown-menu.dropdown-menu-right
										%button.dropdown-item{:type=>"button"} 
											Remove from team
					-2.times do
						.row.align-items-center
							.col-sm-6
								.media.align-items-center
									.avatar.avatar-xs.mr-3
										AL
									.media-body
										%h4.no-margin.medium-font
											=lorem.name
										%h5.no-margin
											=lorem.email
							.col
								%h4.no-margin
									Member
							.col
								.justify-content-end.d-flex
									.dropdown
										%button.btn.btn-flat.btn-icon.menu-button{"data-toggle" => "dropdown", :type=>"button"}
											%i.material-icons
												more_horiz
										.dropdown-menu.dropdown-menu-right
											%button.dropdown-item{:type=>"button"} 
												Remove from team
					.row.align-items-center
						.col-sm-6
							.media.align-items-center
								.avatar.avatar-xs.mr-3
									AL
								.media-body
									%h4.no-margin.medium-font
										=lorem.name
									%h5.no-margin
										=lorem.email
						.col
							%h4.no-margin.extra-light-text-color
								Invited
						.col
							.justify-content-end.d-flex
								.dropdown
									%button.btn.btn-flat.btn-icon.menu-button{"data-toggle" => "dropdown", :type=>"button"}
										%i.material-icons
											more_horiz
									.dropdown-menu.dropdown-menu-right
										%button.dropdown-item{:type=>"button"} 
											Remove from team
										%button.dropdown-item{:type=>"button"} 
											Resend invite
											




#inViteMembers.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header.no-border-bottom.no-padding-bottom
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
			.modal-body
				.padded.no-padding-top.no-padding-bottom
					%h2.text-center
						Invite people to your team
					%p.light-text-color.text-center
						Team members can view, comment, or also create and edit all projects. Typically used for employees.
					.padding-top
						.position-relative
							%textarea.input-lg.form-control.form-control-lg{:type=>"text", :autofocus=>"", :placeholder=>"Enter emails seporated by commas", :rows=>"4"}
					.double-margin-bottom.margin-top
						%h5.light-text-color
							Enter the email addresses (comma separated) of the people you want to invite to view the 
							%strong
								Eternal Contrast 
							organization.
					.text-center
						%button.btn.btn-primary.btn-lg.btn-block{:type => "button", "data-dismiss"=>"modal"} 
							Invite 3 people
			.modal-footer.no-border-top 


							


					
