;;;

"title": "All projects"

;;;

/ .alert-container
/ 	.alert.alert-success
/ 		.container.product-card-container.text-center
/ 			Password changed successfully.

/ = partial "free-trial-card"

		


= partial "add-new"

%section
	.container.product-card-container
		.row
			.col-lg-12
				.card
					.padded.double-padding-top.double-padding-bottom
						.double-padding-top.double-padding-bottom
							.text-center
								%img.marign-bottom.double-margin-bottom{:src=>"../images/team-zero.svg", :width=>"404"}
								%h2
									No team projects... yet
								%p.light-text-color.no-margin-bottom
									Once team members create projects, they’ll appear here








					
