.alert-container
	.alert.alert-success
		.container.product-card-container.text-center
			Please confirm your email address. A confirmation message was sent to
			=lorem.email
			%a.alert-link{:href=>"#"}
				Resend email


%section
	.container.product-card-container
		.row.justify-content-md-center
			.col-md-10
				.jumbotron.text-center.welcome-panel
					.double-margin-bottom
						%h1
							Let’s get started
						%p
							Visit the Chrome store to download the Volley commentor.
					%a.btn.btn-primary{:href=>"zero"}
						Visit chrome store
