;;;

"title": "All projects"

;;;

.alert-container
	.alert.alert-success
		.container.product-card-container.text-center
			Password changed successfully.

= partial "free-trial-card"

		


= partial "add-new"

%section
	.container.product-card-container
		.row
			.col-lg-12
				.card
					.padded.double-padding-top.double-padding-bottom
						.double-padding-top.double-padding-bottom
							.text-center
								%img.marign-bottom.double-margin-bottom{:src=>"../images/products-zero.svg", :width=>"204"}
								%h2
									There’s nothing here!
								%p.light-text-color.no-margin-bottom
									Create your first project to get started








					
