=partial "add-new"

%section.no-padding-top
	.container.product-card-container
		.row
			.col-lg-12
				.card
					.padded.double-padding-top.double-padding-bottom
						.double-padding-top.double-padding-bottom
							.text-center
								%img.marign-bottom.double-margin-bottom{:src=>"../images/products-zero.svg", :width=>"204"}
								%h2
									Add your first product
								%p.light-text-color.no-margin-bottom
									Get started by adding the first product you’d like to review.








					
