;;;

"title": "All projects"

;;;

/ .alert-container
/ 	.alert.alert-success
/ 		.container.product-card-container.text-center
/ 			Password changed successfully.

/ = partial "free-trial-card"

		


= partial "add-new"

%section
	.container.product-card-container
		.row
			.col-lg-12
				.card
					.padded.double-padding-top.double-padding-bottom
						.double-padding-top.double-padding-bottom
							.text-center
								.projects-video-wrapper
									.embed-responsive.embed-responsive-16by9
										%iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/mhWBuPi8uwA"}
								%h2
									Welcome to Volley!
								%p.light-text-color.no-margin-bottom
									To get started, Watch the 1 miniute video above or create your first project.








					
