

%header#primary-header
	.container
		.row
			.col
				%a{:href=>"/"}
					%img{:src=>"/images/logo.svg", :width=>"120px"}
				.float-right
					%a.btn.btn-link.btn-lg{:href=>"/welcome/login"}
						Log in
					%a.btn.btn-secondary.btn-lg{:href=>"/welcome/sign-up"}
						Try it free
