

%header#primary-header
	.container
		.row
			.col
				%a{:href=>"/"}
					%img{:src=>"/images/logo.svg", :width=>"120px"}
				.float-right
					%a.btn.btn-primary.btn-lg{:href=>"#join"}
						Get early access
