%meta{:charset => "utf-8"}
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%meta{:content => "", :name => "description"}
%title 
  Volley

//google material icons
%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}

= stylesheet_link_tag "style"
%link{href: "/images/favicon.ico", rel: "shortcut icon"}
= javascript_include_tag"../bower_components/bootstrap/site/docs/4.3/assets/js/vendor/jquery-slim.min.js","https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js", "../bower_components/bootstrap/dist/js/bootstrap.min.js", "scripts"