;;;

"layout": "full-screen"

;;;


%section.no-padding-top.no-padding-bottom
	.container
		.row.justify-content-center
			.col-12
				.row.justify-content-center
					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#B4BBC6;"}
								%h1.medium-font.margin-bottom
									Basic
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										0
									%span.month
										\/ month
							.card-body
								%h5.text-uppercase.bold-font.light-text-color
									Get the basics free
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											Start with 
										1 project
									%li
										%span.bold-font
											Unlimited 
										notes
									%li
										%span.bold-font
											Unlimited 
										colloborators
									%li
										%span.bold-font
											User 
										mentions & notifications
									%li
										%span.bold-font
											Email 
										support


							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free

					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#FFAA00;"}
								%h1.medium-font.margin-bottom
									Pro
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										25
									%span.month
										\/ month
							.card-body
								%h5.text-uppercase.bold-font.light-text-color
									Everything in Basic, plus
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											Unlimited 
										projects
									%li
										%span.bold-font
											Third party 
										integrations
							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free

					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#FF4E4A;"}
								%h1.medium-font.margin-bottom
									Team
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										45
									%span.month
										\/ month
							.card-body
								%h5.text-uppercase.bold-font.light-text-color
									Everything in Pro, plus
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											6 
										team members
									%li
										%span.bold-font
											Unlimited 
										team workspaces

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free



%section.no-padding-top.no-padding-bottom
	.container
		.row.justify-content-center
			.col-12
				.row.justify-content-center
					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#B4BBC6;"}
								%h1.medium-font.margin-bottom
									Basic
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										0
									%span.month
										\/ month
							.card-body
								%h5.text-uppercase.bold-font.light-text-color
									Get the basics free
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											Start with 
										1 project
									%li
										%span.bold-font
											Unlimited 
										notes
									%li
										%span.bold-font
											Unlimited 
										colloborators
									%li
										%span.bold-font
											User 
										mentions & notifications
									%li
										%span.bold-font
											Email 
										support


							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free

					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#FFAA00;"}
								%h1.medium-font.margin-bottom
									Pro
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										25
									%span.month
										\/ month
							.card-body
								%h5.text-uppercase.bold-font.light-text-color
									Everything in Basic, plus
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											Unlimited 
										projects
									%li
										%span.bold-font
											Third party 
										integrations
							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free

					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#FF4E4A;"}
								%h1.medium-font.margin-bottom
									Team
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										45
									%span.month
										\/ month
							.card-body
								%h5.text-uppercase.bold-font.light-text-color
									Everything in Pro, plus
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											6 
										team mambers
									%li
										%span.bold-font
											Unlimited 
										team workspaces

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
									Get started free

					/ .col-sm-12.col-md-6.col-lg-6.col-xl-3.margin-bottom
					/ 	.card.price-card
					/ 		.card-header
					/ 			%h1.medium-font.no-margin
					/ 				Team Plus
					/ 			%h5
					/ 				Great for larger teams 
					/ 			%h1.display-5.inline
					/ 				%span.price.bold-font
					/ 					$
					/ 				%span.bold-font.dollar-ammount
					/ 					85
					/ 				%span.month
					/ 					\/ month
					/ 		.card-body
					/ 			%ul.card-list.list-unstyled.icon-list-better.check-list
					/ 				%li.bold-font
					/ 					Everything in Pro
					/ 				%li
					/ 					15 team members

					/ 		.card-footer.text-center.no-padding-top.padding-bottom
					/ 			%a.btn.btn-secondary.btn-block.btn-lg{:href=>"https://app.meetvolley.com/sign-up"}
					/ 				Get started free



%section.padding-top
	.container
		.row.justify-content-center
			.col-12
				.row.justify-content-center
					.col-sm-12.col-md-6.col-lg-6.col-xl-5
						.card.price-card.margin-bottom
							.card-header
								%h1
									Volley Free
								%h1.display-4
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										0
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										1 project
									%li
										Unlimited comments
									%li
										User mentions

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/welcome/sign-up"}
									Get started free
					.col-sm-12.col-md-6.col-lg-6.col-xl-5.margin-bottom
						.card.price-card
							.card-header
								%h1
									Volley 
									%span.medium-font
										Unlimited
								%h1.display-4.strikethrough.inline.double-margin-right
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										25
								%h1.display-4.inline.card-promo
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										10
									%span.month
										\/ month

								%h5{:style=>"position: relative;top: 12px;"}
									%em
										Lifetime deal offered through July to support startups & SMBs.
							.card-body
								%p.bold-font
									You get unlimited everyhting…
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										Projects
									%li.bold-font
										Comments
									%li.bold-font
										Collaborators
									%li
										%span.bold-font
											Export to Trello
										%small
											(Others coming soon)
									%li
										Instant access to every new feature

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/welcome/sign-up"}
									Get started free