%section.padding-top
	.container
		.row.justify-content-md-center
			.col-12
				.row
					.col-sm-12.col-md-4
						.card.price-card.margin-bottom
							.card-header
								%h1
									Volley Free
								%h1.display-4
									%span.price.medium-font
										$
									%span.bold-font.dollar-ammount
										0
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										1 project
									%li
										Unlimited notes
									%li
										Unlimited project members

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-primary.btn-block{:href=>"/welcome/sign-up"}
									Get started free
					.col-sm-12.col-md-4
						.card.price-card.margin-bottom
							.card-header
								%h1
									Volley starter
								%h1.display-4
									%span.price.medium-font
										$
									%span.bold-font.dollar-ammount
										4
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										4 projects
									%li
										Unlimited notes
									%li
										Unlimited project members

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-primary.btn-block{:href=>"/welcome/sign-up"}
									Get started free
					.col-sm-12.col-md-4.margin-bottom
						.card.price-card
							.card-header
								%h1
									Volley PRO
								%h1.display-4
									%span.price.medium-font
										$
									%span.bold-font.dollar-ammount
										10
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										unlimited projects
									%li
										Unlimited notes
									%li
										Unlimited project members

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-primary.btn-block{:href=>"/welcome/sign-up"}
									Get started free