;;;

"layout": "full-screen"

;;;

%section
	.container
		.row.justify-content-center
			.col-lg-5
				%h1
					Confirm your subscription
				%p
					Enter payment details to subscribe
				%form
					.form-row.margin-bottom
						.form-group.col-12
							%label
								Name on card
							%input.form-control.form-control-lg{:type=>"text"}
					.form-row.margin-bottom
						.form-group.col-6
							%label
								Card number
							%input.form-control.form-control-lg{:type=>"text", :placeholder=>"0000 0000 0000 0000"}
						.form-group.col-3
							%label
								Expiration
							%input.form-control.form-control-lg{:type=>"text", :placeholder=>"10/20"}
						.form-group.col-3
							%label
								CVV
							%input.form-control.form-control-lg{:type=>"text", :placeholder=>"123"}
					.form-row.margin-bottom
						.form-group.col-12
							%img{:src=>"../images/cards.png",:width=>"220px"}
					.form-row.margin-bottom
						.form-group.col-12
							%button.btn.btn-block.btn-primary.btn-lg{:type=>"submit"}
								Pay $45 and upgrade now
					.text-center
						%h4.align-middle
							%i.material-icons.align-middle
								lock
							Your payment is secure
					%hr
					.double-margin-bottom
						%p
							"Volley is without doubt the biggest timesaver I have come across in a very long time. It literally takes seconds to create a note that includes both a screenshot of the problem and a written description."
						.media
							%img{:src=>"/images/avatar-mathias.png", :width=>"47px"}
							.media-body.half-margin-left
								%h4.no-margin-bottom
									%span.bold-font
										Mathias Hoffmann
									%span.light-text-color
										CTO
								%img{:src=>"/images/denti-logo.png", :width=>"70px"}
			.col-lg-5
				.padded
					.card.price-card.margin-auto{:style=>"min-height:auto;"}
						.card-header.team-header
							%h1.medium-font
								Volley Team
							%h1.display-5.inline
								%span.price.bold-font
									$
								%span.bold-font.dollar-ammount
									45
								%span.month
									\/ month
						.card-body
							%ul.card-list.list-unstyled.icon-list-better.check-list
								%li
									Unlimited projects
								%li
									Unlimited colloborators
								%li
									Unlimited notes
								%li
									Export to Trello
								%li
									Export to Jira
								%li
									6 team members
								%li
									Unlimited team workspaces
					.text-center.double-margin-top
						%p.half-margin-bottom
							Cancel anytime
						%h4.light-text-color
							Your annual plan starts on 6/3/19 at $52.50/yr and renews automatically on 6/3/20 at $69.99. You can cancel any time.



