;;;

"layout": "full-screen"

;;;

%section.no-padding-bottom.no-padding-top
	.container
		/ .row
		/ 	.col-lg-12
		/ 		.alert-container
		/ 			.alert.alert-info.padding-top.padding-bottom
		/ 				.container.product-card-container.text-center
		/ 					%h3.no-margin-bottom
		/ 						%span.bold-font
		/ 							Oops: 
		/ 						The plan you selected only allows for 4 projects. You currently have 5 projects. You'll need to trim down a bit to use the basic plan.
		.row.justify-content-center
			.col-lg-9
				%h2.text-center.medium-font
					Upgrade and take your process to the next level. 
				%p.light-text.text-center
					You've reached your 1 project limit. You can either archive or delete a project, or upgrade for more projects!



%section.no-padding-top.no-padding-bottom
	.container
		.row.text-center
			.col-12
				.margin-top.double-margin-bottom
					.form-check.form-check-inline.custom-radio.quarter-margin-bottom
						%input#inlineRadio1.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}
							%label.form-check-label{:for => "inlineRadio1"} 
								%h3.no-margin.medium-font
									Billed monthly
					.form-check.form-check-inline.custom-radio.quarter-margin-bottom
						%input#inlineRadio2.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option2", :checked=>"checked"}
							%label.form-check-label{:for => "inlineRadio2"} 
								%h3.no-margin.medium-font
									Billed yearly (20% savings)




		.row.justify-content-center
			.col-12
				.row.justify-content-center


					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#B4BBC6;"}
								%h1.medium-font.quarter-margin-bottom
									Starter
								%h5
									Get a feel for Volley
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										0
									%span.month
										\/ month
								%h5.no-margin-bottom.half-margin-top
									&nbsp;
							.card-body
								/ %h5.text-uppercase.bold-font.light-text-color
								/ 	Get the basics free
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											1
										project
									%li
										%span.bold-font
											50 
										notes
									%li.align-middle
										%span.bold-font
											1
										user only
										%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"You are limited to 1 User who can create 1 project. You can invite unlimited colloborators into your project."}
											info
									%li
										%span.bold-font
											Email 
										support
									%li.no-deal
										%span.line-through
											%span.bold-font
												Export 
											to Trello & Jira
									%hr
									%li
										%span.bold-font
											Draw
										tools
									%li
										%span.bold-font
											Invite unlimited 
										collaborators
										%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
											info
									%li
										%span.bold-font
											@ mentions 
										\& notifications


							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-secondary.btn-block.btn-lg.disabled{:href=>"/billing/pay"}
									Current plan


					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#FF4E4A;"}
								%h1.medium-font.quarter-margin-bottom
									Freelance
								%h5
									For freelancers,  small teams & startups
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										8
									%span.month
										\/ month
								%h5.no-margin-bottom.half-margin-top
									Billed yearly
							.card-body
								/ %h5.text-uppercase.bold-font.light-text-color
								/ 	Everything in Pro, plus
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											Unlimited
										projects
									%li
										%span.bold-font
											Unlimited 
										notes
									%li
										%span.bold-font
											1
										user only
										%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"You are limited to 1 User who can create projects. You can invite unlimited colloborators into your projects."}
											info
									%li
										%span.bold-font
											Email 
										support
									%li
										%span.bold-font
											Export 
										to Trello & Jira

									%hr
									%li
										%span.bold-font
											Draw
										tools
									%li
										%span.bold-font
											Invite unlimited 
										collaborators
										%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
											info
									%li
										%span.bold-font
											@ mentions 
										\& notifications


							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay-team"}
									%span.bold-font
										Get Freelance



					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#FFAA00;"}
								%h1.medium-font.quarter-margin-bottom
									Studio
								%h5
									For larger companies and agencies
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										19
									%span.month
										\/ month
								%h5.no-margin-bottom.half-margin-top
									Billed yearly
							.card-body
								/ %h5.text-uppercase.bold-font.light-text-color
								/ 	Everything in Basic, plus
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											Unlimited
										projects
									%li
										%span.bold-font
											Unlimited 
										notes
									%li
										%span.bold-font
											5
										users
										%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Users can create and join projects within shared team workspaces. It is posible to add users to multiple team workspaces."}
											info
									%li
										%span.bold-font
											Priority 
										support
									%li
										%span.bold-font
											Export 
										to Trello & Jira
									/ %li
									/ 	%span.bold-font
									/ 		Team 
									/ 	workspaces
									/ 	%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Add  users to team workspaces. Here every user gets instant access to every project. It's possible to add users to multiple workspaces."}
									/ 		info
									%hr
									%li
										%span.bold-font
											Draw
										tools
									%li
										%span.bold-font
											Invite unlimited 
										collaborators
										%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
											info
									%li
										%span.bold-font
											@ mentions 
										\& notifications
							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
									%span.bold-font
										Get Studio



%section
	.text-center
		%img{:src=>"../images/appsumo-logo.svg", :width=>"140px"}
		%p.medium-font.no-margin-bottom
			Have an AppSumo code? 
			%a{:href=>"/settings/appsumo"}
				Redeem here

