.alert-container
	.alert.alert-info.padding-top.padding-bottom
		.container.product-card-container.text-center
			%h3.no-margin-bottom
				%span.bold-font
					Your free trial has ended.
				To continue using Volley please subscribe.
%section
	.container
		.row
			.col-lg-12
				%h2.text-center.medium-font
					Subscribe to Volley and colloborate forever.
%section.padding-top
	.container
		.row.justify-content-md-center
			.col-sm-12.col-md-12.col-lg-9.col-xl-8
				.row
					.col-sm-12.col-md-6
						.card.price-card.margin-bottom
							.card-header
								%h1
									Volley basic
								%h1.display-4
									%span.price.medium-font
										$
									%span.bold-font.dollar-ammount
										4
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										1 project
									%li
										Unlimited notes
									%li
										Unlimited project members

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-primary.btn-block{:href=>"#"}
									Choose basic
					.col-sm-12.col-md-6.margin-bottom
						.card.price-card
							.card-header
								%h1
									Volley PRO
								%h1.display-4
									%span.price.medium-font
										$
									%span.bold-font.dollar-ammount
										10
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										unlimited projects
									%li
										User mentions
									%li
										Export to Asana, Monday & Jira

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-primary.btn-block{:href=>"#"}
									Choose PRO
									
