;;;

"layout": "full-screen"

;;;

%section.no-padding-bottom.no-padding-top
	.container
		/ .row
		/ 	.col-lg-12
		/ 		.alert-container
		/ 			.alert.alert-info.padding-top.padding-bottom
		/ 				.container.product-card-container.text-center
		/ 					%h3.no-margin-bottom
		/ 						%span.bold-font
		/ 							Oops: 
		/ 						The plan you selected only allows for 4 projects. You currently have 5 projects. You'll need to trim down a bit to use the basic plan.
		.row.justify-content-center
			.col-lg-9
				%h2.text-center.medium-font
					Upgrade and take your process to the next level. 
				%p.light-text.text-center
					You've reached your 1 project limit. You can either archive or delete a project, or upgrade for more projects!



%section.no-padding-top
	.padded
		.container-fluid{:style=>"max-width:1350px;"}
			.row.text-center
				.col-12
					.margin-top.double-margin-bottom
						.form-check.form-check-inline.custom-radio.quarter-margin-bottom
							%input#inlineRadio1.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}
								%label.form-check-label{:for => "inlineRadio1"} 
									%h3.no-margin.medium-font
										Billed monthly
						.form-check.form-check-inline.custom-radio.quarter-margin-bottom
							%input#inlineRadio2.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option2", :checked=>"checked"}
								%label.form-check-label{:for => "inlineRadio2"} 
									%h3.no-margin.medium-font
										Billed yearly (20% savings)




			.row.justify-content-center
				.col-12
					.row.justify-content-center


						.col-sm-12.col-md-12.col-lg-3.col-xl-3.margin-bottom
							.card.price-card.margin-auto
								.card-header{:style=>"border-top-color:#000;"}
									%h1.medium-font.quarter-margin-bottom
										Starter
									%h5
										Get a feel for Volley
									%h1.display-5.inline
										%span.price.bold-font
											$
										%span.bold-font.dollar-ammount
											0
										%span.month
											\/ month
									%h5.no-margin-bottom.half-margin-top
										&nbsp;
									.padding-top
										%a.btn.btn-secondary.btn-block.btn-lg.disabled{:href=>"/billing/pay"}
											Current plan
								.card-body
									/ %h5.text-uppercase.bold-font.light-text-color
									/ 	Get the basics free
									%ul.card-list.list-unstyled.icon-list-better.check-list
										%li
											%span.bold-font
												50 
											notes
										%li
											%span.bold-font
												1
											project
										%li
											%span.bold-font
												Email 
											support
										%hr.half-margin-bottom
										%li
											%span.bold-font
												Draw
											tools
										%li
											%span.bold-font
												Unlimited 
											collaborators
											%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
												info
										%li
											%span.bold-font
												@ 
											mentions 
											



						.col-sm-12.col-md-12.col-lg-3.col-xl-3.margin-bottom
							.card.price-card.margin-auto
								.card-header{:style=>"border-top-color:#FF4E4A;"}
									%h1.medium-font.quarter-margin-bottom
										Freelance
									%h5
										For freelancers and small teams 
									%h1.display-5.inline
										%span.price.bold-font
											$
										%span.bold-font.dollar-ammount
											8
										%span.month
											\/ month
									%h5.no-margin-bottom.half-margin-top
										Billed yearly
									.padding-top
										%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
											%span.bold-font
												Get Freelance
								.card-body
									%ul.card-list.list-unstyled.icon-list-better.check-list
										%li
											%span.bold-font
												Unlimited 
											notes
										%li
											%span.bold-font
												10
											projects
										%li
											%span.bold-font
												Email 
											support

										%hr.half-margin-bottom
										%li
											%span.bold-font
												Draw
											tools
										%li
											%span.bold-font
												Unlimited 
											collaborators
											%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
												info
										%li
											%span.bold-font
												@ 
											mentions 
											




						.col-sm-12.col-md-12.col-lg-3.col-xl-3.margin-bottom
							.card.price-card.margin-auto.popular
								.card-header{:style=>"border-top-color:#FFAA00;"}
									%h1.medium-font.quarter-margin-bottom
										Pro
									%h5
										Perfect for startups and agencies 
									%h1.display-5.inline
										%span.price.bold-font
											$
										%span.bold-font.dollar-ammount
											19
										%span.month
											\/ month
									%h5.no-margin-bottom.half-margin-top
										Billed yearly
									.padding-top
										%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
											%span.bold-font
												Get Pro
								.card-body
									%ul.card-list.list-unstyled.icon-list-better.check-list
										%li
											%span.bold-font
												Unlimited 
											notes
										%li
											%span.bold-font
												Unlimited
											projects
										%li
											%span.bold-font
												Priority 
											support
										%li
											%span.bold-font
												Export 
											to Trello & Jira
										%li
											%span.bold-font
												4
											team members
											%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Team members can create and join projects within shared team workspaces. It is posible to add members to multiple workspaces."}
												info
										%li
											%span.bold-font
												Team
											workspaces

										%hr.half-margin-bottom
										%li
											%span.bold-font
												Draw
											tools
										%li
											%span.bold-font
												Unlimited 
											collaborators
											%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
												info
										%li
											%span.bold-font
												@ 
											mentions 
										





						.col-sm-12.col-md-12.col-lg-3.col-xl-3.margin-bottom
							.card.price-card.margin-auto
								.card-header{:style=>"border-top-color:#77C4FF;"}
									%h1.medium-font.quarter-margin-bottom
										Unlimited
									%h5
										Unlimited for large companies 
									%h1.display-5.inline
										%span.price.bold-font
											$
										%span.bold-font.dollar-ammount
											79
										%span.month
											\/ month
									%h5.no-margin-bottom.half-margin-top
										Billed yearly
									.padding-top
										%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
											%span.bold-font
												Get Unlimited
								.card-body
									/ %h5.text-uppercase.bold-font.light-text-color
									/ 	Everything in Basic, plus
									%ul.card-list.list-unstyled.icon-list-better.check-list
										%li
											%span.bold-font
												Unlimited 
											notes
										%li
											%span.bold-font
												Unlimited
											projects
										%li
											%span.bold-font
												Dedicated 
											account representative
										%li
											%span.bold-font
												Export 
											to Trello & Jira
										%li
											%span.bold-font
												Unlimited
											team members
											%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Team members can create and join projects within shared team workspaces. It is posible to add members to multiple workspaces."}
												info
										%li
											%span.bold-font
												Team
											workspaces
										
										%li
											%span.bold-font
												Remove 
											Volley branding

										%hr
										%li
											%span.bold-font
												Draw
											tools
										%li
											%span.bold-font
												Unlimited 
											collaborators
											%i.material-icons.cursor-pointer{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
												info
										%li
											%span.bold-font
												@ 
											mentions 
										



/ %section
/ 	.text-center
/ 		%img{:src=>"../images/appsumo-logo.svg", :width=>"140px"}
/ 		%p.medium-font.no-margin-bottom
/ 			Have an AppSumo code? 
/ 			%a{:href=>"/settings/appsumo"}
/ 				Redeem here




