;;;

"layout": "full-screen"

;;;

%section
	.container
		/ .row
		/ 	.col-lg-12
		/ 		.alert-container
		/ 			.alert.alert-info.padding-top.padding-bottom
		/ 				.container.product-card-container.text-center
		/ 					%h3.no-margin-bottom
		/ 						%span.bold-font
		/ 							Oops: 
		/ 						The plan you selected only allows for 4 projects. You currently have 5 projects. You'll need to trim down a bit to use the basic plan.
		.row.justify-content-center
			.col-lg-8
				%h2.text-center.medium-font
					Upgrade and take your process to the next level. 
				%p.light-text.text-center
					You've reached your 1 project limit. You can either archive or delete a project, or upgrade for more projects!



%section.padding-top
	.container
		.row.justify-content-center
			.col-12
				.row.justify-content-center
					.col-sm-12.col-md-6.col-lg-3.col-xl-3.margin-bottom
						.card.price-card
							.card-header
								%h1.medium-font.no-margin
									Free
								%h5
									Level up your process
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										25
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										1 project
									%li
										Unlimited notes
									%li
										User mentions


							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-secondary.btn-block.btn-lg.disabled{:href=>"/billing/pay"}
									Current plan

					.col-sm-12.col-md-6.col-lg-3.col-xl-3.margin-bottom
						.card.price-card
							.card-header
								%h1.medium-font.no-margin
									Pro
								%h5
									Great for freelancers
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										25
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										Unlimited projects
									%li.bold-font
										Unlimited colloborators
									%li
										Unlimited notes
									%li
										Export to Trello
									%li
										Export to Jira

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
									Get Pro

					.col-sm-12.col-md-6.col-lg-3.col-xl-3.margin-bottom
						.card.price-card.popular
							.card-header
								%h1.medium-font.no-margin
									Team
								%h5
									Great for small teams
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										45
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										Everything in Pro
									%li
										6 team members

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
									Get Team

					.col-sm-12.col-md-6.col-lg-3.col-xl-3.margin-bottom
						.card.price-card
							.card-header
								%h1.medium-font.no-margin
									Team Plus
								%h5
									Great for larger teams 
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										85
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										Everything in Pro
									%li
										15 team members

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
									Get Team Plus

/ %section.padding-top
/ 	.container
/ 		.row.justify-content-md-center
/ 			.col-12
/ 				.row
/ 					.col-sm-12.col-md-4
/ 						.card.price-card.margin-bottom
/ 							.card-header
/ 								%h1
/ 									Volley Free
/ 								%h1.display-4
/ 									%span.price.medium-font
/ 										$
/ 									%span.bold-font.dollar-ammount
/ 										0
/ 									%span.month
/ 										\/ month
/ 							.card-body
/ 								%ul.card-list.list-unstyled.icon-list-better.check-list
/ 									%li
/ 										1 project
/ 									%li
/ 										Unlimited notes
/ 									%li
/ 										Unlimited project members

/ 							.card-footer.text-center.no-padding-top.double-padding-bottom
/ 								%a.btn.btn-secondary.btn-block.disabled{:href=>"/billing/pay"}
/ 									Current plan
/ 					.col-sm-12.col-md-4
/ 						.card.price-card.margin-bottom
/ 							.card-header
/ 								%h1
/ 									Volley Starter
/ 								%h1.display-4
/ 									%span.price.medium-font
/ 										$
/ 									%span.bold-font.dollar-ammount
/ 										4
/ 									%span.month
/ 										\/ month
/ 							.card-body
/ 								%ul.card-list.list-unstyled.icon-list-better.check-list
/ 									%li
/ 										4 projects
/ 									%li
/ 										Unlimited notes
/ 									%li
/ 										Unlimited project members

/ 							.card-footer.text-center.no-padding-top.double-padding-bottom
/ 								%a.btn.btn-primary.btn-block{:href=>"/billing/pay"}
/ 									Choose starter
/ 					.col-sm-12.col-md-4.margin-bottom
/ 						.card.price-card
/ 							.card-header
/ 								%h1
/ 									Volley Pro
/ 								%h1.display-4
/ 									%span.price.medium-font
/ 										$
/ 									%span.bold-font.dollar-ammount
/ 										10
/ 									%span.month
/ 										\/ month
/ 							.card-body
/ 								%ul.card-list.list-unstyled.icon-list-better.check-list
/ 									%li.bold-font
/ 										Unlimited projects
/ 									%li
/ 										Unlimited notes
/ 									%li
/ 										Unlimited project members

/ 							.card-footer.text-center.no-padding-top.double-padding-bottom
/ 								%a.btn.btn-primary.btn-block{:href=>"/billing/pay"}
/ 									Choose PRO
									
