;;;

"layout": "full-screen"

;;;

%section
	.container
		/ .row
		/ 	.col-lg-12
		/ 		.alert-container
		/ 			.alert.alert-info.padding-top.padding-bottom
		/ 				.container.product-card-container.text-center
		/ 					%h3.no-margin-bottom
		/ 						%span.bold-font
		/ 							Oops: 
		/ 						The plan you selected only allows for 4 projects. You currently have 5 projects. You'll need to trim down a bit to use the basic plan.
		.row.justify-content-center
			.col-lg-8
				%h2.text-center.medium-font
					Upgrade and take your process to the next level. 
				%p.light-text.text-center
					You've reached your 1 project limit. You can either archive or delete a project, or upgrade for more projects!



%section.no-padding-top.no-padding-bottom
	.container
		.row.justify-content-center
			.col-12
				.row.justify-content-center
					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#B4BBC6;"}
								%h1.medium-font.margin-bottom
									Basic
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										0
									%span.month
										\/ month
							.card-body
								/ %h5.text-uppercase.bold-font.light-text-color
								/ 	Get the basics free
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											1
										project
									%li
										%span.bold-font
											50 
										notes
									%li
										%span.bold-font
											1
										user
									%li
										%span.bold-font
											Email 
										support
									%hr
									%li
										%span.bold-font
											Unlimited 
										collaborators
									%li
										%span.bold-font
											User 
										mentions & notifications


							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-secondary.btn-block.btn-lg.disabled{:href=>"/billing/pay"}
									Current plan

					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#FFAA00;"}
								%h1.medium-font.margin-bottom
									Pro
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										25
									%span.month
										\/ month
							.card-body
								/ %h5.text-uppercase.bold-font.light-text-color
								/ 	Everything in Basic, plus
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											Unlimited
										projects
									%li
										%span.bold-font
											Unlimited 
										notes
									%li
										%span.bold-font
											3
										users
									%li
										%span.bold-font
											Priority 
										support
									%hr
									%li
										%span.bold-font
											Unlimited 
										collaborators
									%li
										%span.bold-font
											User 
										mentions & notifications
							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
									Get Pro

					.col-sm-12.col-md-12.col-lg-4.col-xl-4.margin-bottom
						.card.price-card.margin-auto
							.card-header{:style=>"border-top-color:#FF4E4A;"}
								%h1.medium-font.margin-bottom
									Pro +
								%h1.display-5.inline
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										45
									%span.month
										\/ month
							.card-body
								/ %h5.text-uppercase.bold-font.light-text-color
								/ 	Everything in Pro, plus
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										%span.bold-font
											Unlimited
										projects
									%li
										%span.bold-font
											Unlimited 
										notes
									%li
										%span.bold-font
											6
										users
									%li
										%span.bold-font
											Priority 
										support

									%hr
									%li
										%span.bold-font
											Unlimited 
										collaborators
									%li
										%span.bold-font
											User 
										mentions & notifications

							.card-footer.text-center.no-padding-top.padding-bottom
								%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay-team"}
									Get Team


%section
	.text-center
		%img{:src=>"../images/appsumo-logo.svg", :width=>"140px"}
		%p.medium-font.no-margin-bottom
			Have an AppSumo code? 
			%a{:href=>"/settings/appsumo"}
				Redeem here

