%section
	.container
		/ .row
		/ 	.col-lg-12
		/ 		.alert-container
		/ 			.alert.alert-info.padding-top.padding-bottom
		/ 				.container.product-card-container.text-center
		/ 					%h3.no-margin-bottom
		/ 						%span.bold-font
		/ 							Oops: 
		/ 						The plan you selected only allows for 4 projects. You currently have 5 projects. You'll need to trim down a bit to use the basic plan.
		.row.justify-content-center
			.col-lg-8
				%h2.text-center.medium-font
					Upgrade and take your process to the next level. 
				%p.light-text.text-center
					You've reached your 1 project limit. You can either archive or delete a project, or upgrade for more projects!



%section.padding-top
	.container
		.row.justify-content-center
			.col-12
				.row.justify-content-center
					.col-sm-12.col-md-6.col-lg-6.col-xl-4
						.card.price-card.margin-bottom
							.card-header
								%h1
									Volley Free
								%h1.display-4
									%span.price.medium-font
										$
									%span.bold-font.dollar-ammount
										0
									%span.month
										\/ month
							.card-body
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li
										1 project
									%li
										Unlimited comments
									%li
										User mentions

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-secondary.btn-block.disabled{:href=>"/billing/pay"}
									Current plan
					.col-sm-12.col-md-6.col-lg-6.col-xl-4.margin-bottom
						.card.price-card
							.card-header
								%h1
									Volley 
									%span.medium-font
										Unlimited
								%h1.display-4.strikethrough.inline.double-margin-right
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										25
								%h1.display-4.inline.card-promo
									%span.price.bold-font
										$
									%span.bold-font.dollar-ammount
										10
									%span.month
										\/ month for life

								%h5{:style=>"position: relative;top: 12px;"}
									%em
										Price reduced through Jul to support startups & SMBs
							.card-body
								%p.bold-font
									You get unlimited everyhting…
								%ul.card-list.list-unstyled.icon-list-better.check-list
									%li.bold-font
										Projects
									%li.bold-font
										Comments
									%li.bold-font
										Collaborators
									%li
										Integrations
										%small
											(Asana and Trello coming soon)
									%li
										Instant access to every new feature

							.card-footer.text-center.no-padding-top.double-padding-bottom
								%a.btn.btn-primary.btn-block{:href=>"/billing/pay"}
									Get unlimited

/ %section.padding-top
/ 	.container
/ 		.row.justify-content-md-center
/ 			.col-12
/ 				.row
/ 					.col-sm-12.col-md-4
/ 						.card.price-card.margin-bottom
/ 							.card-header
/ 								%h1
/ 									Volley Free
/ 								%h1.display-4
/ 									%span.price.medium-font
/ 										$
/ 									%span.bold-font.dollar-ammount
/ 										0
/ 									%span.month
/ 										\/ month
/ 							.card-body
/ 								%ul.card-list.list-unstyled.icon-list-better.check-list
/ 									%li
/ 										1 project
/ 									%li
/ 										Unlimited notes
/ 									%li
/ 										Unlimited project members

/ 							.card-footer.text-center.no-padding-top.double-padding-bottom
/ 								%a.btn.btn-secondary.btn-block.disabled{:href=>"/billing/pay"}
/ 									Current plan
/ 					.col-sm-12.col-md-4
/ 						.card.price-card.margin-bottom
/ 							.card-header
/ 								%h1
/ 									Volley Starter
/ 								%h1.display-4
/ 									%span.price.medium-font
/ 										$
/ 									%span.bold-font.dollar-ammount
/ 										4
/ 									%span.month
/ 										\/ month
/ 							.card-body
/ 								%ul.card-list.list-unstyled.icon-list-better.check-list
/ 									%li
/ 										4 projects
/ 									%li
/ 										Unlimited notes
/ 									%li
/ 										Unlimited project members

/ 							.card-footer.text-center.no-padding-top.double-padding-bottom
/ 								%a.btn.btn-primary.btn-block{:href=>"/billing/pay"}
/ 									Choose starter
/ 					.col-sm-12.col-md-4.margin-bottom
/ 						.card.price-card
/ 							.card-header
/ 								%h1
/ 									Volley Pro
/ 								%h1.display-4
/ 									%span.price.medium-font
/ 										$
/ 									%span.bold-font.dollar-ammount
/ 										10
/ 									%span.month
/ 										\/ month
/ 							.card-body
/ 								%ul.card-list.list-unstyled.icon-list-better.check-list
/ 									%li.bold-font
/ 										Unlimited projects
/ 									%li
/ 										Unlimited notes
/ 									%li
/ 										Unlimited project members

/ 							.card-footer.text-center.no-padding-top.double-padding-bottom
/ 								%a.btn.btn-primary.btn-block{:href=>"/billing/pay"}
/ 									Choose PRO
									
