@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
section.inverse-section h1, section.inverse-section h2, section.inverse-section h3, section.inverse-section h4, section.inverse-section h5, section.inverse-section h6, section.inverse-section p, section.inverse-section small, section.inverse-section li {
  color: white !important; }

* {
  margin: 0;
  padding: 0; }

html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font: 100%;
  font-size: 16px;
  color: #354052;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width: 100%;
  line-height: 1.5rem;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: #fff;
  padding-top: 56px; }

.flex {
  display: flex; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.flex {
  display: flex; }

.eq {
  flex: 1; }

img {
  height: auto; }

.base-line-height {
  line-height: 16px; }

.small-line-height {
  line-height: 18px; }

.full-width {
  width: 100%; }

.max-width {
  max-width: 100%; }

.display-block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.text-uppercase {
  text-transform: uppercase; }

.extra-light-text-color {
  color: #B4BBC6; }

.light-text-color {
  color: #7F8FA4; }

.text-color {
  color: #354052; }

.dark-text-color {
  color: #393C3E; }

.text-success {
  color: #26C164; }

.text-warning {
  color: #FFAA00; }

.text-danger {
  color: #FF4E4A; }

.link-color {
  color: #0042FF; }

.medium-font {
  font-weight: 600; }

.bold-font {
  font-weight: 700; }

.extra-bold-font {
  font-weight: 900; }

.light-font-name {
  font-weight: 300; }

.primary-text-color {
  color: #0042FF !important; }

.secondary-text-color {
  color: #0B2A5C !important; }

.micro-text {
  font-size: 0.7rem; }

h1 {
  font-size: 30px;
  line-height: 38px; }

h2 {
  font-size: 24px;
  line-height: 31px; }

h3 {
  font-size: 17px;
  line-height: 22px; }

h4 {
  font-size: 14px;
  line-height: 18px; }

h5 {
  font-size: 13px;
  line-height: 15px; }

h6 {
  font-size: 10px;
  line-height: 12px; }

a {
  color: #0042FF; }

.btn {
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px; }
  .btn.btn-lg {
    padding: .65rem 2rem; }
  .btn.btn-primary {
    background: #0042FF;
    border-color: #0042FF; }
    .btn.btn-primary:hover {
      background: #003ff2;
      border-color: #003ff2; }
  .btn.btn-secondary {
    background: white;
    border-color: #B4BBC6;
    color: #354052; }
    .btn.btn-secondary:hover {
      border-color: #121314; }
  .btn.btn-danger {
    background: #FF4E4A;
    border-color: #FF4E4A; }
    .btn.btn-danger:hover {
      background: #f24a46;
      border-color: #f24a46; }
  .btn.btn-success {
    background: #26C164;
    border-color: #26C164; }
    .btn.btn-success:hover {
      background: #24b75f;
      border-color: #24b75f; }
  .btn.btn-warning {
    background: #FFAA00;
    border-color: #FFAA00;
    color: white; }
    .btn.btn-warning:hover {
      background: #f2a200;
      border-color: #f2a200; }
  .btn.btn-flat {
    background: transparent;
    border-color: white;
    color: #354052; }
    .btn.btn-flat:hover {
      background: #f2f2f2;
      border-color: #f2f2f2; }
  .btn.btn-link {
    color: #0042FF; }
    .btn.btn-link:hover {
      color: #003be6; }
  .btn.btn-icon {
    line-height: 1; }
    .btn.btn-icon i {
      color: #B4BBC6; }
    .btn.btn-icon:hover i, .btn.btn-icon:focus i {
      color: #121314; }

.tooltip {
  margin-bottom: 4px;
  font-size: 12px; }

.margin-auto {
  margin: 0 auto; }

.margin {
  margin: 16px !important; }

.margin-top {
  margin-top: 16px !important; }

.margin-right {
  margin-right: 16px !important; }

.margin-bottom {
  margin-bottom: 16px !important; }

.margin-left {
  margin-left: 16px !important; }

.double-margin-top {
  margin-top: 32px !important; }

.double-margin-right {
  margin-right: 32px !important; }

.double-margin-bottom {
  margin-bottom: 32px !important; }

.double-margin-left {
  margin-left: 32px !important; }

.triple-margin-top {
  margin-top: 48px !important; }

.triple-margin-right {
  margin-right: 48px !important; }

.triple-margin-bottom {
  margin-bottom: 48px !important; }

.triple-margin-left {
  margin-left: 48px !important; }

.half-margin-top {
  margin-top: 8px !important; }

.half-margin-right {
  margin-right: 8px !important; }

.half-margin-bottom {
  margin-bottom: 8px !important; }

.half-margin-left {
  margin-left: 8px !important; }

.quarter-margin-top {
  margin-top: 4px !important; }

.quarter-margin-right {
  margin-right: 4px !important; }

.quarter-margin-bottom {
  margin-bottom: 4px !important; }

.quarter-margin-left {
  margin-left: 4px !important; }

.no-margin {
  margin: 0px !important; }

.no-margin-top {
  margin-top: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin-left {
  margin-left: 0px !important; }

.large-margin-top {
  margin-top: 48px !important; }

.padded {
  padding: 16px !important; }

.padding-top {
  padding-top: 16px !important; }

.padding-right {
  padding-right: 16px !important; }

.padding-bottom {
  padding-bottom: 16px !important; }

.padding-left {
  padding-left: 16px !important; }

.double-padded {
  padding: 32px !important; }

.double-padding-top {
  padding-top: 32px !important; }

.double-padding-right {
  padding-right: 32px !important; }

.double-padding-bottom {
  padding-bottom: 32px !important; }

.double-padding-left {
  padding-left: 32px !important; }

.triple-padding-top {
  padding-top: 48px !important; }

.triple-padding-right {
  padding-right: 48px !important; }

.triple-padding-bottom {
  padding-bottom: 48px !important; }

.triple-padding-left {
  padding-left: 48px !important; }

.no-padding {
  padding: 0px !important; }

.no-padding-top {
  padding-top: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-bottom {
  padding-bottom: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.half-padding {
  padding: 8px !important; }

.half-padding-top {
  padding-top: 8px !important; }

.half-padding-right {
  padding-right: 8px !important; }

.half-padding-bottom {
  padding-bottom: 8px !important; }

.half-padding-left {
  padding-left: 8px !important; }

.quarter-padding {
  padding: 4px !important; }

.quarter-padding-top {
  padding-top: 4px !important; }

.quarter-padding-right {
  padding-right: 4px !important; }

.quarter-padding-bottom {
  padding-bottom: 4px !important; }

.quarter-padding-left {
  padding-left: 4px !important; }

.no-border-top {
  border-top: none !important; }

.no-border-bottom {
  border-bottom: none !important; }

section {
  padding: 32px 0; }

.navbar a.nav-link {
  color: #354052 !important;
  -webkit-transition-duration: 0.13s;
  -moz-transition-duration: 0.13s;
  -ms-transition-duration: 0.13s;
  -o-transition-duration: 0.13s;
  transition-duration: 0.13s; }
  .navbar a.nav-link:hover {
    color: #050608 !important; }
.navbar.bg-light {
  background-color: white !important; }

#primary-nav {
  padding: 0;
  font-size: 14px;
  border-bottom: 1px solid #E6EAEE; }
  #primary-nav .navbar-brand {
    padding: 0; }
    @media (max-width: 992px) {
      #primary-nav .navbar-brand {
        padding: 16px 0; } }
    @media (max-width: 576px) {
      #primary-nav .navbar-brand {
        padding: 16px 20px;
        margin: 0 !important; } }
  #primary-nav .navbar-nav .nav-item.workspace-selector .nav-link {
    border-left: 1px solid #E6EAEE;
    padding: 0;
    padding-left: 1rem;
    margin: 0.5rem;
    margin: 0; }
  #primary-nav .navbar-nav .nav-item .nav-link {
    padding: 16px 8px;
    margin: 0 10.66667px;
    line-height: 2rem; }
  #primary-nav .navbar-nav .nav-item.active .nav-link {
    box-shadow: inset 0 -3px 0 #B4BBC6; }
  #primary-nav .menu-toggle {
    border-radius: 0; }
    @media (max-width: 992px) {
      #primary-nav .menu-toggle {
        padding: 16px 20; } }
    @media (max-width: 576px) {
      #primary-nav .menu-toggle {
        padding: 16px 20px; } }
    #primary-nav .menu-toggle .material-icons {
      line-height: 30px; }
  #primary-nav .dropdown-toggle:after {
    display: none; }
  #primary-nav .dropdown-toggle .material-icons {
    font-size: 16px;
    position: relative;
    top: 3px;
    color: #B4BBC6; }

.page-header {
  padding-top: 16px; }

.form-control.form-control-lg {
  font-size: 16px;
  padding-top: .65rem;
  padding-bottom: .65rem; }
.form-control:focus {
  box-shadow: none;
  border-color: #0042FF; }

.card {
  border-color: #E6EAEE; }
  .card .card-header {
    background: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }

a.product-card {
  position: relative;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  display: block; }
  a.product-card .card-header {
    border-color: #E6EAEE;
    position: relative;
    padding: 20px; }
    a.product-card .card-header img {
      border: 1px solid #E6EAEE;
      border-bottom: none; }
  a.product-card .card-body h3 {
    color: #354052; }
  a.product-card .card-body h4 {
    color: #B4BBC6; }
  a.product-card:hover {
    text-decoration: none; }
    a.product-card:hover .card-body h3 {
      text-decoration: underline; }

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0042FF;
  color: white;
  text-align: center; }
  .avatar.avatar-xs {
    width: 30px;
    height: 30px;
    font-size: 13px;
    line-height: 30px; }

.dropdown-menu {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 2px; }
  .dropdown-menu .dropdown-item {
    color: #354052; }
    .dropdown-menu .dropdown-item:hover {
      background: #F5F8FA; }
    .dropdown-menu .dropdown-item:active {
      background: #e9ecee;
      color: #354052; }
    .dropdown-menu .dropdown-item.active {
      background: white;
      box-shadow: inset 3px 0 0 #0042FF; }
      .dropdown-menu .dropdown-item.active:hover {
        background: #F5F8FA; }
    .dropdown-menu .dropdown-item i {
      font-size: 1rem;
      line-height: 1;
      position: relative;
      top: 4px;
      color: #B4BBC6; }
      .dropdown-menu .dropdown-item i.icon-left {
        margin-right: 12px; }

.workspace-menu {
  min-width: 280px;
  position: absolute !important;
  animation-duration: .15s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: menu-zoom; }

.admin-menu {
  position: absolute !important;
  animation-duration: .15s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: menu-zoom;
  top: 83%; }

.menu-with-button .dropdown-item {
  padding: 12px 20px; }
  .menu-with-button .dropdown-item .avatar-container {
    margin-right: 12px; }
    .menu-with-button .dropdown-item .avatar-container .avatar-default {
      padding: 6px;
      background-color: #B4BBC6;
      font-size: 14px;
      font-weight: 600;
      color: white;
      border-radius: 3px;
      line-height: 1;
      min-width: 28px;
      text-align: center; }
    .menu-with-button .dropdown-item .avatar-container.invert-avatar .avatar-default {
      background: white;
      color: #354052;
      border: 1px solid #E6EAEE; }
  .menu-with-button .dropdown-item .text {
    padding: 0 !important; }
  .menu-with-button .dropdown-item .button-container {
    padding: 0 !important; }
    .menu-with-button .dropdown-item .button-container button {
      padding: 0 !important; }
    .menu-with-button .dropdown-item .button-container i {
      font-size: 20px; }

#bottom-bar {
  border-top: 1px solid #bcc2ce; }
  #bottom-bar .share-button {
    padding-left: 20px;
    padding-right: 20px; }
  #bottom-bar a.mode-link {
    padding: 16px 15px 7px 15px;
    margin: 0 5px;
    border-radius: 4px; }
    #bottom-bar a.mode-link svg {
      height: 24px; }
      #bottom-bar a.mode-link svg path {
        transition: fill 0.13s ease; }
      #bottom-bar a.mode-link svg .icon {
        fill: #B4BBC6; }
    #bottom-bar a.mode-link:hover {
      text-decoration: none; }
      #bottom-bar a.mode-link:hover svg .icon {
        fill: #7e838b; }
    #bottom-bar a.mode-link.comment svg {
      position: relative;
      top: 3px; }
    #bottom-bar a.mode-link.active {
      background: #0042FF; }
      #bottom-bar a.mode-link.active svg .icon {
        fill: white; }

.web-view-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .web-view-container.comment-mode {
    cursor: crosshair; }
    .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-wrapper {
      background: rgba(0, 0, 0, 0.1); }
    .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-border {
      border-color: #0042FF; }
    .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-helper {
      position: fixed;
      bottom: 60px;
      text-align: center;
      width: 100%;
      display: flex; }
      .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-helper .overlay-helper-inner {
        padding: 4px 20px;
        border-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background: #0042FF;
        display: flex;
        margin: 0 auto; }
        .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-helper .overlay-helper-inner p {
          margin-bottom: 0;
          color: white;
          font-size: 14px; }
  .web-view-container.adding-notes {
    pointer-events: none; }
    .web-view-container.adding-notes .overlay-border {
      border-color: transparent !important; }
  .web-view-container .iframe-wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: 57px;
    background: #9B9B9B;
    position: relative; }
    .web-view-container .iframe-wrapper .iframe-border {
      width: 100%;
      height: 100%;
      border: none;
      margin-left: auto;
      margin-right: auto;
      background: #fff;
      position: relative; }
      .web-view-container .iframe-wrapper .iframe-border .overlay-container {
        position: absolute;
        height: 100%;
        width: 100%;
        pointer-events: none;
        top: 0;
        left: 0; }
        .web-view-container .iframe-wrapper .iframe-border .overlay-container .overlay-wrapper {
          background: transparent;
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          pointer-events: none; }
        .web-view-container .iframe-wrapper .iframe-border .overlay-container .overlay-border {
          position: absolute;
          height: 100%;
          width: 100%;
          pointer-events: none;
          top: 0;
          left: 0;
          border: solid 6px transparent; }
      .web-view-container .iframe-wrapper .iframe-border iframe {
        width: 100%;
        height: 100%;
        border: none; }

.review-container {
  padding-bottom: 57px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex; }

.notes-list-container {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 280px;
  display: flex;
  overflow: hidden; }
  .notes-list-container .notes-list-body {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 44px;
    border-right: 1px solid #E6EAEE;
    background: white; }
    .notes-list-container .notes-list-body .notes-list-header {
      width: 280px;
      position: fixed;
      top: 0;
      left: 0;
      background: white;
      border-right: 1px solid #E6EAEE; }
    .notes-list-container .notes-list-body .note-thumbnail {
      padding: 10px 16px;
      cursor: pointer;
      background: white;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }
      .notes-list-container .notes-list-body .note-thumbnail:hover {
        background: #F5F8FA; }
      .notes-list-container .notes-list-body .note-thumbnail img {
        border: 3px solid #E6EAEE;
        border-radius: 4px; }
      .notes-list-container .notes-list-body .note-thumbnail.active {
        background: #0042FF; }
        .notes-list-container .notes-list-body .note-thumbnail.active h5 {
          color: white; }
    .notes-list-container .notes-list-body .notes-list-footer {
      position: fixed;
      bottom: 56px;
      left: 0;
      background: white;
      width: 100%;
      width: 280px;
      border-right: 1px solid #E6EAEE; }
      .notes-list-container .notes-list-body .notes-list-footer .show-resolved {
        position: relative;
        top: -4px; }
        .notes-list-container .notes-list-body .notes-list-footer .show-resolved button {
          color: #7F8FA4 !important;
          font-size: 13px; }
          .notes-list-container .notes-list-body .notes-list-footer .show-resolved button i {
            font-size: 21px;
            top: 6px;
            margin-right: 4px; }

.check-btn button {
  color: #354052 !important;
  font-weight: 400;
  position: relative; }
  .check-btn button:hover, .check-btn button:active, .check-btn button:focus {
    text-decoration: none; }
  .check-btn button i {
    position: relative;
    top: 7px;
    margin-right: 8px; }

.note-container {
  width: calc(100% - 280px);
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden; }
  .note-container .note-body {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    width: 100%; }
    .note-container .note-body .note-nav {
      width: calc(100% - 280px);
      position: fixed;
      top: 0;
      padding: 10px 0; }
      .note-container .note-body .note-nav .mark-resolved button {
        position: relative;
        top: -4px; }
    .note-container .note-body .note-info {
      display: flex;
      height: 100%;
      width: 100%;
      padding-top: 65px; }
      .note-container .note-body .note-info .img-container {
        height: 100%;
        overflow-y: scroll;
        display: flex;
        width: calc(100% - 320px);
        background: #FAFBFC;
        position: relative; }
        .note-container .note-body .note-info .img-container .img-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative; }
          .note-container .note-body .note-info .img-container .img-wrapper .img-comment-container {
            position: relative;
            margin-left: auto;
            margin-right: auto; }
            .note-container .note-body .note-info .img-container .img-wrapper .img-comment-container img {
              display: block;
              max-width: 100%;
              height: auto; }
      .note-container .note-body .note-info .comments-container {
        height: 100%;
        overflow-y: scroll;
        display: flex;
        width: 320px;
        background: white;
        border-left: 1px solid #E6EAEE; }
        .note-container .note-body .note-info .comments-container .comments-wrapper {
          width: 100%; }
          .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment {
            width: 100%;
            padding: 16px;
            position: relative; }
            .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment .attachment {
              position: absolute;
              top: 16px;
              right: 16px;
              color: #7F8FA4; }
          .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container {
            width: 100%; }
            .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container .comment {
              padding: 16px;
              width: 100%;
              position: relative; }
              .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container .comment img {
                border-radius: 4px;
                margin-bottom: 5px; }
              .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container .comment .actions {
                position: absolute;
                right: 10px;
                top: 6px; }
                .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container .comment .actions button.btn-action {
                  color: #7F8FA4; }

.note-detail-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1; }
  .note-detail-container a.close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999;
    color: white;
    opacity: 1; }
    .note-detail-container a.close i {
      color: white; }
  .note-detail-container .note-detail-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -50px; }
    .note-detail-container .note-detail-wrapper .note-detail-body {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      padding: 10px; }
      .note-detail-container .note-detail-wrapper .note-detail-body .note-detail-helper {
        color: white;
        background: rgba(0, 0, 0, 0.65);
        padding: 10px;
        display: table;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 10px; }
      .note-detail-container .note-detail-wrapper .note-detail-body img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.04); }
  .note-detail-container .note-actionbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background: white;
    border-top: 1px solid #E6EAEE;
    bottom: 0px;
    left: 0;
    padding: 16px; }

.comment-form {
  background: white;
  width: 340px;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  margin: -13px 0 0 -2px;
  box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.04); }
  .comment-form:before {
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 8px solid #fefefe;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin: 32px 0 0 -16px;
    z-index: 1;
    margin-right: 37px;
    margin-top: -16px; }
  .comment-form .comment-form-header {
    padding: 16px; }
  .comment-form .comment-form-body {
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0; }
  .comment-form .comment-form-footer {
    padding: 16px; }
    .comment-form .comment-form-footer .btn-link {
      color: #7F8FA4;
      position: relative;
      top: 2px; }

.comment-number {
  background: #26C164;
  text-align: center;
  width: 39px;
  height: 39px;
  border-radius: 100px;
  color: white;
  line-height: 39px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24); }

@keyframes menu-zoom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-24px) scale3d(0.9, 0.9, 0.9);
    transform: translateY(-24px) scale3d(0.9, 0.9, 0.9); }
  50% {
    opacity: 1; } }
