@charset "UTF-8";
@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@media (max-width: 768px) {
  .text-left-sm {
    text-align: left !important; }
  .text-center-sm {
    text-align: center !important; } }

section.inverse-section h1, section.inverse-section h2, section.inverse-section h3, section.inverse-section h4, section.inverse-section h5, section.inverse-section h6, section.inverse-section p, section.inverse-section small, section.inverse-section li {
  color: white !important; }

* {
  margin: 0;
  padding: 0; }

html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font: 100%;
  font-size: 16px;
  color: #354052;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width: 100%;
  line-height: 1.5rem;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: #fff;
  padding-top: 65px; }

.flex {
  display: flex; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.flex {
  display: flex; }

.eq {
  flex: 1; }

img {
  height: auto; }

.base-line-height {
  line-height: 16px; }

.small-line-height {
  line-height: 18px; }

.full-width {
  width: 100%; }

.max-width {
  max-width: 100%; }

.display-block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.jumbotron {
  background: #F5F8FA; }

.primary-bg {
  background-color: #0042FF !important; }

.cursor-pointer {
  cursor: pointer; }

.text-uppercase {
  text-transform: uppercase; }

.extra-light-text-color {
  color: #B4BBC6 !important; }

.light-text-color {
  color: #7F8FA4 !important; }

.text-color {
  color: #354052 !important; }

.dark-text-color {
  color: #393C3E !important; }

.primary-text-color {
  color: #0042FF !important; }

.text-success {
  color: #26C164; }

.text-warning {
  color: #FFAA00; }

.text-danger {
  color: #FF4E4A; }

.link-color {
  color: #0042FF; }

.medium-font {
  font-weight: 600; }

.bold-font {
  font-weight: 700; }

.extra-bold-font {
  font-weight: 900; }

.light-font-name {
  font-weight: 300; }

.primary-text-color {
  color: #0042FF !important; }

.secondary-text-color {
  color: #0B2A5C !important; }

.micro-text {
  font-size: 0.7rem; }

h1 {
  font-size: 30px;
  line-height: 38px; }

h2 {
  font-size: 24px;
  line-height: 31px; }

h3 {
  font-size: 17px;
  line-height: 22px; }

h4 {
  font-size: 14px;
  line-height: 18px; }

h5 {
  font-size: 13px;
  line-height: 15px; }

h6 {
  font-size: 10px;
  line-height: 12px; }

ul.icon-list li {
  font-size: 14px;
  line-height: 20px; }
  ul.icon-list li i {
    font-size: 14px;
    position: relative;
    top: 3px;
    margin-right: 5px; }

ul.icon-list-better li {
  line-height: 1.8rem;
  position: relative; }
  ul.icon-list-better li:before {
    font-family: 'material icons';
    content: 'check';
    color: #0042FF; }

@media (max-width: 768px) {
  .text-center-sm {
    text-align: center !important; } }

a {
  color: #0042FF; }

.btn {
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px; }
  .btn.btn-lg {
    padding: .65rem 2rem; }
  .btn.btn-primary {
    background: #0042FF;
    border-color: #0042FF; }
    .btn.btn-primary:hover {
      background: #003ff2;
      border-color: #003ff2; }
  .btn.btn-secondary {
    background: white;
    border-color: #B4BBC6;
    color: #354052; }
    .btn.btn-secondary:hover {
      border-color: #121314; }
  .btn.btn-danger {
    background: #FF4E4A;
    border-color: #FF4E4A; }
    .btn.btn-danger:hover {
      background: #f24a46;
      border-color: #f24a46; }
  .btn.btn-success {
    background: #26C164;
    border-color: #26C164; }
    .btn.btn-success:hover {
      background: #24b75f;
      border-color: #24b75f; }
  .btn.btn-warning {
    background: #FFAA00;
    border-color: #FFAA00;
    color: white; }
    .btn.btn-warning:hover {
      background: #f2a200;
      border-color: #f2a200; }
  .btn.btn-flat {
    background: transparent;
    border-color: white;
    color: #354052; }
    .btn.btn-flat:hover {
      background: #f2f2f2;
      border-color: #f2f2f2; }
  .btn.btn-link {
    color: #0042FF; }
    .btn.btn-link:hover {
      color: #003be6; }
  .btn.btn-icon {
    line-height: 1; }
    .btn.btn-icon i {
      color: #B4BBC6; }
    .btn.btn-icon:hover i, .btn.btn-icon:focus i {
      color: #121314; }
  .btn:focus {
    outline: none;
    box-shadow: none !important; }

.close {
  color: #0042FF;
  opacity: .8; }

.tooltip {
  margin-bottom: 4px;
  font-size: 12px; }

.margin-auto {
  margin: 0 auto; }

.margin {
  margin: 16px !important; }

.margin-top {
  margin-top: 16px !important; }

.margin-right {
  margin-right: 16px !important; }

.margin-bottom {
  margin-bottom: 16px !important; }

.margin-left {
  margin-left: 16px !important; }

.double-margin-top {
  margin-top: 32px !important; }

.double-margin-right {
  margin-right: 32px !important; }

.double-margin-bottom {
  margin-bottom: 32px !important; }

.double-margin-left {
  margin-left: 32px !important; }

.triple-margin-top {
  margin-top: 48px !important; }

.triple-margin-right {
  margin-right: 48px !important; }

.triple-margin-bottom {
  margin-bottom: 48px !important; }

.triple-margin-left {
  margin-left: 48px !important; }

.half-margin-top {
  margin-top: 8px !important; }

.half-margin-right {
  margin-right: 8px !important; }

.half-margin-bottom {
  margin-bottom: 8px !important; }

.half-margin-left {
  margin-left: 8px !important; }

.quarter-margin-top {
  margin-top: 4px !important; }

.quarter-margin-right {
  margin-right: 4px !important; }

.quarter-margin-bottom {
  margin-bottom: 4px !important; }

.quarter-margin-left {
  margin-left: 4px !important; }

.no-margin {
  margin: 0px !important; }

.no-margin-top {
  margin-top: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin-left {
  margin-left: 0px !important; }

.large-margin-top {
  margin-top: 48px !important; }

.padded {
  padding: 16px !important; }

.padding-top {
  padding-top: 16px !important; }

.padding-right {
  padding-right: 16px !important; }

.padding-bottom {
  padding-bottom: 16px !important; }

.padding-left {
  padding-left: 16px !important; }

.double-padded {
  padding: 32px !important; }

.double-padding-top {
  padding-top: 32px !important; }

.double-padding-right {
  padding-right: 32px !important; }

.double-padding-bottom {
  padding-bottom: 32px !important; }

.double-padding-left {
  padding-left: 32px !important; }

.triple-padding-top {
  padding-top: 48px !important; }

.triple-padding-right {
  padding-right: 48px !important; }

.triple-padding-bottom {
  padding-bottom: 48px !important; }

.triple-padding-left {
  padding-left: 48px !important; }

.no-padding {
  padding: 0px !important; }

.no-padding-top {
  padding-top: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-bottom {
  padding-bottom: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.half-padding {
  padding: 8px !important; }

.half-padding-top {
  padding-top: 8px !important; }

.half-padding-right {
  padding-right: 8px !important; }

.half-padding-bottom {
  padding-bottom: 8px !important; }

.half-padding-left {
  padding-left: 8px !important; }

.quarter-padding {
  padding: 4px !important; }

.quarter-padding-top {
  padding-top: 4px !important; }

.quarter-padding-right {
  padding-right: 4px !important; }

.quarter-padding-bottom {
  padding-bottom: 4px !important; }

.quarter-padding-left {
  padding-left: 4px !important; }

.no-border-top {
  border-top: none !important; }

.no-border-bottom {
  border-bottom: none !important; }

@media (max-width: 768px) {
  .no-padding-sm {
    padding: 0 !important; } }

section {
  padding: 32px 0; }
  section.inverse-section {
    background-color: #0042FF; }
  section.off-white-bg {
    background-color: #F5F8FA; }

.navbar a.nav-link {
  color: #354052 !important;
  transition-duration: 0.13s; }
  .navbar a.nav-link:hover {
    color: #050608 !important; }

.navbar.bg-light {
  background-color: white !important; }

#primary-nav {
  padding: 0;
  font-size: 14px;
  border-bottom: 1px solid #E6EAEE; }
  #primary-nav .navbar-brand {
    padding: 0; }
    @media (max-width: 992px) {
      #primary-nav .navbar-brand {
        padding: 16px 0; } }
    @media (max-width: 576px) {
      #primary-nav .navbar-brand {
        padding: 16px 20px;
        margin: 0 !important; } }
  #primary-nav .navbar-nav .nav-item.workspace-selector .nav-link {
    border-left: 1px solid #E6EAEE;
    padding: 0;
    padding-left: 1rem;
    margin: .5rem;
    margin: 0; }
  #primary-nav .navbar-nav .nav-item .nav-link {
    padding: 16px 8px;
    margin: 0 10.66667px;
    line-height: 2rem; }
  #primary-nav .navbar-nav .nav-item.active .nav-link {
    box-shadow: inset 0 -3px 0 #B4BBC6; }
  #primary-nav .menu-toggle {
    border-radius: 0; }
    @media (max-width: 992px) {
      #primary-nav .menu-toggle {
        padding: 16px 20; } }
    @media (max-width: 576px) {
      #primary-nav .menu-toggle {
        padding: 16px 20px; } }
    #primary-nav .menu-toggle .material-icons {
      line-height: 30px; }
  #primary-nav .dropdown-toggle:after {
    display: none; }
  #primary-nav .dropdown-toggle .material-icons {
    font-size: 16px;
    position: relative;
    top: 3px;
    color: #B4BBC6; }

.page-header {
  padding-top: 16px; }

.primary-tabs a.nav-link {
  font-size: 16px;
  padding: 8px 0px;
  margin: 0 12px;
  border: none;
  color: #7F8FA4; }
  .primary-tabs a.nav-link:first-of-type {
    margin-left: 0; }
  .primary-tabs a.nav-link:hover {
    color: #0042FF; }
  .primary-tabs a.nav-link.active {
    border-bottom: 1px solid #0042FF;
    color: #0042FF; }

.mention-menu {
  min-width: 280px; }

.list-of-options .list-group-inner {
  position: relative; }

.list-of-options .list-group-item {
  user-select: none;
  border-width: 1px;
  margin-bottom: 10px;
  transition-duration: .1s;
  border-color: #E6EAEE;
  width: 100%; }
  .list-of-options .list-group-item:hover {
    background-color: #f2f6ff; }
  .list-of-options .list-group-item.select-all {
    border: none; }
    .list-of-options .list-group-item.select-all:hover {
      background: transparent; }

.list-of-options .list-group input[type="checkbox"]:checked + .select-all {
  background: none !important; }

.list-of-options .list-group {
  width: 100%; }

.list-of-options .list-group input[type="checkbox"] {
  display: none; }
  .list-of-options .list-group input[type="checkbox"] + .list-group-item {
    cursor: pointer; }
    .list-of-options .list-group input[type="checkbox"] + .list-group-item:before {
      position: absolute;
      top: calc(50% - 14px);
      left: 15px;
      z-index: 99;
      font-size: 30px;
      color: #B4BBC6;
      font-family: "Material Icons";
      content: "radio_button_unchecked"; }
  .list-of-options .list-group input[type="checkbox"]:checked + .list-group-item {
    background-color: #f2f6ff;
    border-color: #0042FF; }
    .list-of-options .list-group input[type="checkbox"]:checked + .list-group-item:before {
      color: #0042FF;
      content: "check_circle"; }

.list-of-options .list-group input[type="radio"] {
  display: none; }
  .list-of-options .list-group input[type="radio"] + .list-group-item {
    cursor: pointer; }
    .list-of-options .list-group input[type="radio"] + .list-group-item:before {
      position: absolute;
      top: calc(50% - 14px);
      left: 15px;
      z-index: 99;
      font-size: 30px;
      color: #B4BBC6;
      font-family: "Material Icons";
      content: "radio_button_unchecked"; }
  .list-of-options .list-group input[type="radio"]:checked + .list-group-item {
    background-color: #f2f6ff;
    border-color: #0042FF; }
    .list-of-options .list-group input[type="radio"]:checked + .list-group-item:before {
      color: #0042FF;
      content: "check_circle"; }

.form-control.form-control-lg {
  font-size: 16px;
  padding-top: .65rem;
  padding-bottom: .65rem; }

.form-control:focus {
  box-shadow: none;
  border-color: #0042FF; }

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7F8FA4;
  opacity: 1;
  /* Firefox */ }

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7F8FA4; }

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #7F8FA4; }

.chip {
  display: inline-block;
  padding: 0 16px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  border-radius: 25px;
  background-color: #e6ecff;
  color: #0042FF; }
  .chip .close {
    position: relative;
    left: 8px; }
    .chip .close i {
      line-height: 32px;
      font-size: 24px;
      color: #0042FF; }

.alert {
  font-size: 14px; }
  .alert .alert-link {
    font-weight: 600;
    text-decoration: underline; }
  .alert.alert-info {
    background-color: #e6ecff; }

.toast-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  min-height: 200px; }
  .toast-container .toast-container-inner {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 1031; }

.toast-header {
  background-color: transparent;
  border: none; }
  .toast-header .close {
    color: white;
    text-shadow: none; }

.toast {
  min-width: 200px;
  max-width: 280px;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.8) !important; }
  .toast p {
    margin: 0; }

.card {
  border-color: #E6EAEE; }
  .card .card-header {
    background: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #E6EAEE; }
  .card .card-footer {
    border-top: none;
    background-color: transparent; }

.product-card-container {
  max-width: 950px; }
  @media (max-width: 992px) {
    .product-card-container {
      max-width: 720px; } }

.product-card-wrapper {
  position: relative;
  width: 448px;
  margin: 0 auto;
  border: 1px solid #E6EAEE;
  display: block; }
  @media (max-width: 768px) {
    .product-card-wrapper {
      width: 100%;
      max-width: 448px; } }
  .product-card-wrapper:hover {
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15); }
    .product-card-wrapper:hover .card-url {
      color: #354052 !important; }

.card-actions {
  position: absolute;
  bottom: 20px;
  right: 20px; }
  .card-actions .menu-button {
    padding: 10px !important;
    border: none; }
    .card-actions .menu-button:hover {
      background-color: transparent;
      border: none; }
  .card-actions .dropdown-item:hover {
    cursor: pointer; }

a.product-card {
  position: relative;
  border: none;
  display: block; }
  a.product-card .card-header {
    border-color: #E6EAEE;
    position: relative;
    padding: 20px;
    height: 231px; }
    @media (max-width: 768px) {
      a.product-card .card-header {
        height: auto; } }
    a.product-card .card-header .img-wrapper {
      background-image: url("../images/pattern2.svg"), linear-gradient(#0042FF, #00ADFF);
      background-size: 100%;
      border: 1px solid #E6EAEE;
      border-bottom: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%;
      height: 100%;
      position: relative; }
      @media (max-width: 768px) {
        a.product-card .card-header .img-wrapper {
          min-height: 171px; } }
      a.product-card .card-header .img-wrapper img {
        height: 100%;
        width: 100%; }
      a.product-card .card-header .img-wrapper .no-img {
        width: 90px;
        height: 90px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        text-align: center;
        border-radius: 100px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto; }
        a.product-card .card-header .img-wrapper .no-img p {
          margin: 0;
          position: relative;
          font-size: 37px;
          top: 31px;
          color: white; }
  a.product-card .card-body {
    z-index: 99;
    background-color: white; }
    a.product-card .card-body .card-url {
      color: #354052; }
    a.product-card .card-body .card-text {
      color: #B4BBC6; }
  a.product-card:hover {
    text-decoration: none; }
    a.product-card:hover .card-body .card-url {
      color: #0042FF; }
    a.product-card:hover .no-img {
      border-color: white !important; }

.free-trial-card {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 290px;
  border: 2px solid #0042FF;
  z-index: 99; }
  .free-trial-card p {
    margin-bottom: 0px; }
  .free-trial-card a.close {
    position: absolute;
    right: 10px;
    top: 10px; }
  .free-trial-card .btn {
    max-width: 100px; }

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7F8FA4;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 18px; }
  .avatar.avatar-xs {
    width: 30px;
    height: 30px;
    font-size: 13px;
    line-height: 30px; }
  .avatar.avatar-xl {
    width: 80px;
    height: 80px;
    font-size: 34px;
    line-height: 80px; }

.avatars-list .avatar {
  margin-left: -8px;
  border: 2px solid white;
  cursor: pointer; }
  .avatars-list .avatar:first-of-type {
    margin-left: 0; }
  .avatars-list .avatar.avatar-xs {
    width: 34px;
    height: 34px; }

.dropdown-menu {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 2px; }
  .dropdown-menu .dropdown-item {
    color: #354052; }
    .dropdown-menu .dropdown-item:hover {
      background: #F5F8FA; }
    .dropdown-menu .dropdown-item:active {
      background: #e9ecee;
      color: #354052; }
    .dropdown-menu .dropdown-item.active {
      background: white;
      box-shadow: inset 3px 0 0 #0042FF; }
      .dropdown-menu .dropdown-item.active:hover {
        background: #F5F8FA; }
    .dropdown-menu .dropdown-item i {
      font-size: 1rem;
      line-height: 1;
      position: relative;
      top: 4px;
      color: #B4BBC6; }
      .dropdown-menu .dropdown-item i.icon-left {
        margin-right: 12px; }

.workspace-menu {
  min-width: 280px;
  position: absolute !important;
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-name: menu-zoom; }

.admin-menu {
  position: absolute !important;
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-name: menu-zoom;
  top: 83%; }

.menu-with-button .dropdown-item {
  padding: 12px 20px; }
  .menu-with-button .dropdown-item .avatar-container {
    margin-right: 12px; }
    .menu-with-button .dropdown-item .avatar-container .avatar-default {
      padding: 6px;
      background-color: #B4BBC6;
      font-size: 14px;
      font-weight: 600;
      color: white;
      border-radius: 3px;
      line-height: 1;
      min-width: 28px;
      text-align: center; }
    .menu-with-button .dropdown-item .avatar-container.invert-avatar .avatar-default {
      background: white;
      color: #354052;
      border: 1px solid #E6EAEE; }
  .menu-with-button .dropdown-item .text {
    padding: 0 !important; }
  .menu-with-button .dropdown-item .button-container {
    padding: 0 !important; }
    .menu-with-button .dropdown-item .button-container button {
      padding: 0 !important; }
    .menu-with-button .dropdown-item .button-container i {
      font-size: 20px; }

.product-card-loading:empty {
  border: 1px solid #E6EAEE;
  margin: auto;
  margin-bottom: 16px;
  width: 448px;
  height: 311px;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(#eef0f3 190px, transparent 0), linear-gradient(#eef0f3 20px, transparent 0), linear-gradient(#eef0f3 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 50px 400px, calc(100% - 40px) 200px, 300px 200px, 250px 200px;
  background-position: 0 0, 20px 20px, 20px 230px, 20px 260px;
  animation: shine 1s infinite; }
  @media (max-width: 768px) {
    .product-card-loading:empty {
      width: 100%;
      max-width: 448px; } }

@keyframes shine {
  to {
    background-position: 100% 0, 20px 20px, 20px 230px, 20px 260px; } }

.badge {
  border-radius: 100px;
  font-size: 11px; }
  .badge.badge-danger {
    background-color: #FF4E4A; }

body.market {
  background: url("../images/marketing/bg.svg") no-repeat top right; }
  @media (max-width: 992px) {
    body.market {
      background: none; } }

.market section {
  padding: 64px 0; }
  @media (max-width: 768px) {
    .market section#main-hero {
      padding-top: 0; } }

#primary-header {
  width: 100%;
  padding: 20px 0; }
  #primary-header .btn-link {
    color: white;
    padding-left: 0px;
    padding-right: 15px; }
    @media (max-width: 992px) {
      #primary-header .btn-link {
        color: #0042FF; } }
  #primary-header .btn-secondary {
    padding-left: 12px;
    padding-right: 12px; }

.text-container {
  position: relative; }
  .text-container .accent-text {
    position: absolute;
    top: 0;
    left: -30px;
    font-weight: 900;
    font-size: 76px;
    opacity: 0.08;
    color: #0042FF; }

p.market {
  font-size: 21px;
  line-height: 27px; }

h1.market {
  font-size: 93px;
  line-height: 113px; }

h2.market {
  font-size: 61px;
  line-height: 59px; }
  @media (max-width: 768px) {
    h2.market {
      font-size: 55px; } }

h3.market {
  font-size: 45px;
  line-height: 59px; }

.welcome-panel {
  background: #F5F8FA url("../images/welcome-bg.svg") center center no-repeat; }

.add-new-product-bar input {
  border: 3px solid #cfd3d6;
  height: 49px; }

.add-new-product-bar button {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 11.5px 2rem !important; }

#bottom-bar {
  border-top: 1px solid #bcc2ce; }
  #bottom-bar .btn {
    padding-left: 20px;
    padding-right: 20px; }
    @media (max-width: 768px) {
      #bottom-bar .btn {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 13px; } }
  #bottom-bar .product-title {
    position: relative;
    top: 3px; }
    @media (max-width: 768px) {
      #bottom-bar .product-title .product-name {
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px; } }
  #bottom-bar a.mode-link {
    padding: 16px 15px 7px 15px;
    margin: 0 5px;
    border-radius: 4px; }
    #bottom-bar a.mode-link svg {
      height: 24px; }
      #bottom-bar a.mode-link svg path {
        transition: fill 0.13s ease; }
      #bottom-bar a.mode-link svg .icon {
        fill: #B4BBC6; }
    #bottom-bar a.mode-link:hover {
      text-decoration: none; }
      #bottom-bar a.mode-link:hover svg .icon {
        fill: #7e838b; }
    #bottom-bar a.mode-link.comment svg {
      position: relative;
      top: 3px; }
    #bottom-bar a.mode-link.active {
      background: #0042FF; }
      #bottom-bar a.mode-link.active svg .icon {
        fill: white; }
    @media (max-width: 768px) {
      #bottom-bar a.mode-link {
        padding: 10px 10px 7px 10px;
        margin: 0 2px; }
        #bottom-bar a.mode-link svg {
          height: 18px; } }

.web-view-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .web-view-container.comment-mode {
    cursor: crosshair; }
    .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-wrapper {
      background: rgba(0, 0, 0, 0.1); }
    .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-border {
      border-color: #0042FF; }
    .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-helper {
      position: fixed;
      bottom: 60px;
      text-align: center;
      width: 100%;
      display: flex; }
      .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-helper .overlay-helper-inner {
        padding: 4px 20px;
        border-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background: #0042FF;
        display: flex;
        margin: 0 auto; }
        .web-view-container.comment-mode .iframe-wrapper .iframe-border .overlay-container .overlay-helper .overlay-helper-inner p {
          margin-bottom: 0;
          color: white;
          font-size: 14px; }
  .web-view-container.adding-notes {
    pointer-events: none;
    filter: blur(8px);
    -webkit-filter: blur(8px); }
    .web-view-container.adding-notes .overlay-border {
      border-color: transparent !important; }
  .web-view-container .iframe-wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: 61px;
    background: #9B9B9B;
    position: relative; }
    .web-view-container .iframe-wrapper .iframe-border {
      width: 100%;
      height: 100%;
      border: none;
      margin-left: auto;
      margin-right: auto;
      background: #fff;
      position: relative; }
      .web-view-container .iframe-wrapper .iframe-border .overlay-container {
        position: absolute;
        height: 100%;
        width: 100%;
        pointer-events: none;
        top: 0;
        left: 0; }
        .web-view-container .iframe-wrapper .iframe-border .overlay-container .overlay-wrapper {
          background: transparent;
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          pointer-events: none; }
        .web-view-container .iframe-wrapper .iframe-border .overlay-container .overlay-border {
          position: absolute;
          height: 100%;
          width: 100%;
          pointer-events: none;
          top: 0;
          left: 0;
          border: solid 6px transparent; }
      .web-view-container .iframe-wrapper .iframe-border iframe {
        width: 100%;
        height: 100%;
        border: none; }

.review-container {
  padding-bottom: 61px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex; }
  .review-container.unavailable {
    padding-bottom: 0; }
    .review-container.unavailable .note-container {
      width: 100%; }
    .review-container.unavailable .note-info {
      padding-top: 0 !important; }

.notes-list-container {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 280px;
  display: flex;
  overflow: hidden; }
  @media (max-width: 992px) {
    .notes-list-container {
      position: absolute;
      height: 100%;
      width: 280px;
      left: 0px;
      top: 0;
      bottom: 0;
      z-index: 5;
      display: none; }
      .notes-list-container.notes-bar-open {
        display: block; } }
  .notes-list-container .notes-list-body {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 44px;
    border-right: 1px solid #E6EAEE;
    background: white; }
    @media (max-width: 768px) {
      .notes-list-container .notes-list-body {
        padding-bottom: 85px; } }
    .notes-list-container .notes-list-body .notes-list-header {
      width: 280px;
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
      background: white;
      border-right: 1px solid #E6EAEE; }
    .notes-list-container .notes-list-body .note-thumbnail {
      padding: 16px;
      cursor: pointer;
      background: white;
      position: relative;
      transition-duration: .2s; }
      .notes-list-container .notes-list-body .note-thumbnail:hover {
        background: #F5F8FA; }
      .notes-list-container .notes-list-body .note-thumbnail img {
        border: 3px solid #E6EAEE;
        border-radius: 4px; }
      .notes-list-container .notes-list-body .note-thumbnail.active {
        background: #0042FF; }
        .notes-list-container .notes-list-body .note-thumbnail.active h5, .notes-list-container .notes-list-body .note-thumbnail.active h6 {
          color: white !important; }
      .notes-list-container .notes-list-body .note-thumbnail.resolved:after {
        content: "✓";
        position: absolute;
        right: 10px;
        top: 13px;
        color: #26C164; }
    .notes-list-container .notes-list-body .notes-list-footer {
      position: fixed;
      bottom: 56px;
      left: 0;
      background: white;
      width: 100%;
      width: 280px;
      border-right: 1px solid #E6EAEE; }

.check-btn button {
  color: #7F8FA4; }
  .check-btn button i {
    font-size: 14px;
    position: relative;
    right: 6px;
    top: 3px; }

.show-resolved {
  position: relative;
  top: -4px; }
  .show-resolved button {
    color: #7F8FA4 !important;
    font-size: 13px; }
    .show-resolved button i {
      font-size: 21px;
      top: 6px;
      margin-right: 4px; }
    .show-resolved button:hover, .show-resolved button:focus {
      text-decoration: none; }

.complete-btn button {
  padding-left: 15px; }
  .complete-btn button i {
    font-size: 14px;
    position: relative;
    right: 6px;
    top: 3px; }
  .complete-btn button:after {
    content: "Mark complete"; }
  .complete-btn button.active {
    background: #26C164 !important;
    border: #26C164 !important; }
    .complete-btn button.active:after {
      content: "Completed"; }

.note-container {
  width: calc(100% - 280px);
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden; }
  @media (max-width: 992px) {
    .note-container {
      width: 100%; } }
  .note-container .note-body {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    width: 100%; }
    .note-container .note-body .note-nav {
      width: calc(100% - 280px);
      position: fixed;
      top: 0;
      padding: 10px 0;
      z-index: 4;
      background-color: white;
      display: none; }
      @media (max-width: 992px) {
        .note-container .note-body .note-nav {
          width: 100%;
          display: block; } }
      @media (max-width: 768px) {
        .note-container .note-body .note-nav .btn {
          font-size: 13px; } }
      .note-container .note-body .note-nav .menu-button {
        position: relative; }
        .note-container .note-body .note-nav .menu-button a {
          padding: .275rem .55rem; }
        .note-container .note-body .note-nav .menu-button i {
          position: relative;
          top: 3px;
          font-size: 21px; }
          @media (max-width: 768px) {
            .note-container .note-body .note-nav .menu-button i {
              font-size: 17px; } }
      .note-container .note-body .note-nav .mark-resolved button {
        margin-left: 3px; }
    .note-container .note-body .note-info {
      display: flex;
      height: 100%;
      width: 100%; }
      @media (max-width: 768px) {
        .note-container .note-body .note-info {
          padding-top: 65px; } }
      .note-container .note-body .note-info .img-container {
        height: 100%;
        overflow-y: scroll;
        display: flex;
        width: calc(100% - 320px);
        background: #FAFBFC;
        position: relative; }
        @media (max-width: 768px) {
          .note-container .note-body .note-info .img-container {
            width: 100%; } }
        .note-container .note-body .note-info .img-container .img-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative; }
          .note-container .note-body .note-info .img-container .img-wrapper .img-comment-container {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding: 10px; }
            @media (max-width: 768px) {
              .note-container .note-body .note-info .img-container .img-wrapper .img-comment-container {
                position: absolute;
                top: 0; } }
            .note-container .note-body .note-info .img-container .img-wrapper .img-comment-container img {
              display: block;
              max-width: 100%;
              height: auto;
              border: 1px solid #E6EAEE; }
      .note-container .note-body .note-info .comments-container {
        height: 100%;
        overflow-y: scroll;
        display: flex;
        width: 320px;
        background: white;
        border-left: 1px solid #E6EAEE;
        position: relative; }
        @media (max-width: 768px) {
          .note-container .note-body .note-info .comments-container {
            position: fixed;
            width: 100%;
            right: 0px;
            bottom: 0;
            z-index: 1031;
            top: 278px;
            box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
            display: none; }
            .note-container .note-body .note-info .comments-container.comments-bar-open {
              display: block; } }
        .note-container .note-body .note-info .comments-container .resolved-header {
          position: fixed;
          width: 320px;
          background-color: white;
          top: 0;
          z-index: 99; }
          @media (max-width: 992px) {
            .note-container .note-body .note-info .comments-container .resolved-header {
              display: none; } }
          .note-container .note-body .note-info .comments-container .resolved-header .page-btn {
            position: relative; }
        .note-container .note-body .note-info .comments-container .comments-wrapper {
          width: 100%;
          position: relative;
          padding-top: 76px; }
          @media (max-width: 768px) {
            .note-container .note-body .note-info .comments-container .comments-wrapper {
              padding-top: 40px;
              padding-bottom: 120px; } }
          .note-container .note-body .note-info .comments-container .comments-wrapper .mobile-comments-header {
            position: fixed;
            top: 272px;
            width: 100%;
            background: white !important;
            z-index: 1040;
            border-radius: 10px; }
          .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment {
            width: 100%;
            padding: 16px;
            position: relative; }
            @media (max-width: 768px) {
              .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment {
                position: fixed;
                background: white;
                z-index: 1032;
                bottom: 0;
                border-top: 1px solid #E6EAEE;
                padding: 7px;
                padding-top: 10px; } }
            .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment textarea {
              resize: none; }
            .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment .add-comment-btn {
              display: none; }
            .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment .attachment {
              color: #7F8FA4;
              display: none; }
            .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment.focused {
              margin-bottom: 16px; }
              @media (max-width: 768px) {
                .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment.focused {
                  margin-bottom: 0; } }
              .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment.focused textarea {
                height: 65px; }
              .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment.focused .add-comment-btn {
                display: block; }
              .note-container .note-body .note-info .comments-container .comments-wrapper .new-comment.focused .attachment {
                display: block; }
          .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container {
            width: 100%; }
            .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container .comment {
              padding: 16px;
              width: 100%;
              position: relative; }
              .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container .comment img {
                border-radius: 4px;
                margin-bottom: 5px; }
              .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container .comment .actions {
                position: absolute;
                right: 10px;
                top: 6px; }
                .note-container .note-body .note-info .comments-container .comments-wrapper .comments-list-container .comment .actions button.btn-action {
                  color: #7F8FA4; }

.show-notes-toggle {
  display: none; }
  @media (max-width: 992px) {
    .show-notes-toggle {
      display: inline-block; } }

.note-detail-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 1; }
  .note-detail-container a.close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999;
    color: white;
    opacity: 1; }
    .note-detail-container a.close i {
      color: white; }
  .note-detail-container .note-detail-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -50px; }
    .note-detail-container .note-detail-wrapper .note-detail-body {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      padding: 10px; }
      .note-detail-container .note-detail-wrapper .note-detail-body .note-detail-helper {
        color: white;
        background: rgba(0, 0, 0, 0.65);
        padding: 10px;
        display: table;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 10px; }
      .note-detail-container .note-detail-wrapper .note-detail-body img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.04); }
  .note-detail-container .note-actionbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background: white;
    border-top: 1px solid #E6EAEE;
    bottom: 0px;
    left: 0;
    padding: 16px; }

.comment-form {
  background: white;
  width: 340px;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  margin: -13px 0 0 -2px;
  box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.04); }
  .comment-form:before {
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 8px solid #fefefe;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin: 32px 0 0 -16px;
    z-index: 1;
    margin-right: 37px;
    margin-top: -16px; }
  .comment-form .comment-form-header {
    padding: 16px; }
  .comment-form .comment-form-body {
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0; }
  .comment-form .comment-form-footer {
    padding: 16px; }
    .comment-form .comment-form-footer .btn-link {
      color: #7F8FA4;
      position: relative;
      top: 2px; }

.attachment-thumbnail {
  display: block;
  border: 1px solid #E6EAEE;
  margin-bottom: 8px;
  padding: 4px;
  margin-top: 10px;
  text-decoration: none !important;
  transition-duration: .2s;
  border-radius: 3px;
  position: relative; }
  .attachment-thumbnail img {
    width: 30px;
    box-shadow: none !important;
    border: 1px solid #E6EAEE;
    margin-right: 8px; }
  .attachment-thumbnail .attachment-title {
    margin: 0;
    color: #354052;
    line-height: 26px; }
  .attachment-thumbnail .actions {
    position: absolute;
    right: 0px;
    top: 0px; }
    .attachment-thumbnail .actions i {
      font-size: 18px;
      color: #7F8FA4; }

.comment-number {
  background: #26C164;
  text-align: center;
  width: 39px;
  height: 39px;
  border-radius: 100px;
  color: white;
  line-height: 39px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24); }
  .comment-number.comment-number-sm {
    width: 27px;
    height: 27px;
    line-height: 27px;
    font-size: 14px; }

.notes-zero {
  display: flex;
  height: 100%; }
  .notes-zero .zero-notes-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.note-zero {
  background: #FAFBFC;
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  .note-zero img {
    max-width: 100%;
    z-index: 0; }
    @media (max-width: 768px) {
      .note-zero img {
        max-width: 50%; } }
  .note-zero .note-zero-text {
    margin: 0 auto; }
    .note-zero .note-zero-text ul, .note-zero .note-zero-text ol {
      margin-top: 16px; }
      .note-zero .note-zero-text ul li, .note-zero .note-zero-text ol li {
        line-height: 30px; }

.new-items i {
  font-size: 10px; }

@keyframes menu-zoom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-24px) scale3d(0.9, 0.9, 0.9);
    transform: translateY(-24px) scale3d(0.9, 0.9, 0.9); }
  50% {
    opacity: 1; } }

.welcome-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0042FF url("../images/marketing/pattern.svg"); }
  .welcome-container .form-container {
    padding: 0 64px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 600px;
    height: 100%;
    background: white; }
    @media (max-width: 768px) {
      .welcome-container .form-container {
        width: 100%;
        max-width: 100%;
        padding: 0 48px; } }
    .welcome-container .form-container .form-header {
      position: relative; }
      .welcome-container .form-container .form-header .close {
        position: absolute;
        right: -32px;
        top: 16px;
        z-index: 99; }
    .welcome-container .form-container .form-content-wrapper {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%; }
    .welcome-container .form-container .form-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%; }

.invoice-list .row {
  padding: 16px 0;
  border-bottom: 1px solid #E6EAEE; }
  .invoice-list .row i {
    font-size: 12px; }
  .invoice-list .row .paid i {
    color: #26C164; }
  .invoice-list .row .unpaid i {
    color: #FF4E4A; }

.card.price-card h1 {
  position: relative; }
  .card.price-card h1 .price {
    font-size: 20px;
    position: absolute;
    top: 15px; }
  .card.price-card h1 .dollar-ammount {
    position: relative;
    left: 15px; }
  .card.price-card h1 .month {
    font-size: 18px;
    position: relative;
    left: 8px;
    font-weight: 500; }
