;;;

"layout": "blank"

;;;

:css
  body{
    background:rgba(0,0,0,.5);
  }

#exportModal.modal.display-block{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.no-border-bottom.no-padding-bottom
        %a.btn.btn-secondary{:href=>"/product/review", :style=>"line-height:0;"}
          %i.material-icons
            keyboard_backspace
        %a.close{:href=>"/product/review"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .padded.no-padding-top.text-center.margin-bottom
          %img.margin-bottom{:src=>"/images/jira-logo.png", :width=>"100px"}
          %h1.no-margin-bottom.bold-font
            Connect to Jira
        .margin-bottom.align-middle
          .row.justify-content-center
            .col-9
              %p.text-center
                Enter your Jira workspace URL
              .input-group
                %input.form-control.form-control-lg{:placeholder=>"Your-workspae-url"}
                .input-group-append
                  .input-group-text
                    \.atlassian.net
        .margin-bottom.text-center
          %a.btn.btn-primary.btn-lg{:href=>"/export/jira/username"}
            Continue


