;;;

"title": "Home",
"layout": "public"

;;;

%section
	.double-padding-bottom
		.container
			.row
				.col-lg-6
					.double-margin-top
						%h2.market.bold-font.double-margin-bottom
							A better way to collaborate
						%h2.double-margin-bottom
							A new kind of work communication tool that helps you get your message across through instantly shareable videos.
						%a.btn.btn-primary.btn-lg{:href=>"/welcome/sign-up"}
							Try it now
				.col-lg-6
					.padded
						%img.max-width{:src=>"/images/marketing/home-hero.png"}
%section.off-white-bg.double-margin-bottom
	.container
		.row
			.col
				%h2.bold-font.light-text-color.text-center
					IT'S SIMPLE
%section
	.container
		.row
			.col-md-5
				%h1.bold-font.market
					Review.
				%h1.bold-font
					Make improvement notes directly in your product
				%p.market
					Using our handy live review tool, click through each screen and call-out anything that needs some extra love.
			.col-md-7
				.padded
					%img.max-width{:src=>"/images/marketing/review.png"}
%section.inverse-section
	.container
		.row.align-items-center
			.col-md-5.order-md-2
				%h1.bold-font.market
					Resolve..
				%h1.bold-font
					Notes are seen and resolved by developers
				%p.market
					All the notes you create are sent to the people building your product.
			.col-md-7.order-md-1
				%img.max-width{:src=>"/images/marketing/resolve.png", :width=>"497px"}
%section
	.container
		.row
			.col
				%h1.bold-font.market.text-center.double-margin-bottom
					Repeat.
		.row.align-items-center
			.col-md-4
				%h1.bold-font
					Use Volley to make your product shine
				%p.market
					Use the review tools to improve every new feature, release and iteration of your product.
			.col-md-8
				%img.max-width.float-right{:src=>"/images/marketing/repeat.png", :width=>"615px"}
%section.inverse-section
	.double-padding-top.double-padding-bottom
		.container
			.row
				.col.text-center
					%h3.market.bold-font.double-margin-bottom
						Ready to level up your process?
					%a.btn.btn-secondary.btn-lg{:href=>"/welcome/sign-up"}
						Try it now
