;;;

"title": "Home",
"layout": "public"

;;;

%section#main-hero
	.double-padding-bottom
		.container
			.row
				.col-lg-6.order-lg-2
					.padded
						%img.max-width{:src=>"/images/marketing/home-hero.png"}
				.col-lg-6.order-lg-1
					.double-margin-top
						%h2.market.bold-font.double-margin-bottom
							A new way to collaborate on websites
						%h2.double-margin-bottom
							Leave visual feedback directly on your web pages. 
						%a.btn.btn-primary.btn-lg{:href=>"/welcome/sign-up"}
							Try it now

%section
	.container
		.row
			.col-md-5
				.text-container
					%h2.accent-text
						Just
					%h1.bold-font.market
						Review.
				%h1.bold-font
					Make notes directly on your website
				%p.market
					Using our live review tool, click through each screen and call-out anything that needs fixing.
			.col-md-7
				.padded
					%img.max-width{:src=>"/images/marketing/review.png"}
%section.off-white-bg
	.container
		.row.align-items-center
			.col-md-5.order-md-2
				.text-container
					%h2.accent-text
						Then
					%h1.bold-font.market
						Resolve.
				%h1.bold-font
					Notes are easily viewed and resolved
				%p.market
					All the notes you create are sent to the people working to improve your website.
			.col-md-7.order-md-1
				%img.max-width{:src=>"/images/marketing/resolve.png", :width=>"497px"}
%section
	.container
		.row.justify-content-center
			.col-md-4
				.text-container
					%h2.accent-text
						And
					%h1.bold-font.market.text-center.double-margin-bottom
						Repeat.
		.row.align-items-center
			.col-md-4
				%h1.bold-font
					Use Volley to make your product shine
				%p.market
					Use the review tools to improve every new feature, release and iteration of your website.
			.col-md-8
				%img.max-width.float-right{:src=>"/images/marketing/repeat.png", :width=>"615px"}
%section.inverse-section
	.double-padding-top.double-padding-bottom
		.container
			.row
				.col.text-center
					%h3.market.bold-font.double-margin-bottom
						Ready to level up your process?
					%a.btn.btn-secondary.btn-lg{:href=>"/welcome/sign-up"}
						Try it now
%footer
	%section
		.container
			.row
				.col-sm-3
					%p.body-small.light-text-color
						Product
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"#"}
								How it works
						%li
							%a.text-color{:href=>"#"}
								Pricing
				.col-sm-3
					%p.body-small.light-text-color
						Company
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"#"}
								About us
						%li
							%a.text-color{:href=>"#"}
								Twitter
						%li
							%a.text-color{:href=>"#"}
								Facebook
				.col-sm-3
					%p.body-small.light-text-color
						Support
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"#"}
								Email us
						%li
							%a.text-color{:href=>"#"}
								Help center
				.col-sm-3
					%p.body-small.light-text-color
						Legal
					%ul.list-unstyled
						%li
							%a.text-color{:href=>"#"}
								Terms
						%li
							%a.text-color{:href=>"#"}
								Privacy
	%section.no-padding-top
		.container
			.row
				.col
					%p.light-text-color
						%img.margin-right{:src=>"/images/logo-icon.svg"}
						© 2019 Volley
