;;;

"title": "Home",
"layout": "public"

;;;

%section
	.container
		.row
			.col-lg-5
				.double-margin-top
					%h1
						A better way for designers to collaborate with developers
					%p
						Do it now with the world's first Design QA platform.
					%a.btn.btn-primary.btn-lg{:href=>"/products/zero"}
						Get started
			.col-lg-7
				%img.max-width{:src=>"/images/marketing/home-hero.png", :width=>"545px"}